<div class="container mt-5 mb-5 formBg">
    <!-- <h2>Add Line/Corridor</h2>
    <hr /> -->
    <div class="card">
        <div class="card-header">
            <h4 class="pt-2 text-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add Line
            </h4>
        </div>
    </div>

    <div class="row mt-4">
        <form [formGroup]="lineForm" (ngSubmit)="onFormSubmit()">
            <div class="row col-md-12">

                <!-- Line Name -->
                <div class="col-md-4 ">
                    <label for="lineName" class="required">Line Name</label>
                    <input type="text" class="form-control txt-cap" name="lineName" id="lineName" formControlName="lineName"
                        [ngClass]="{'is-invalid': submitted && fval.lineName.errors}" maxlength="255" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="fval.lineName.errors && fval.lineName.errors.required">
                            {{ fval.lineName.errors.required.message }}
                        </div>
                        <div *ngIf="fval.lineName.errors && fval.lineName.errors.alpha">
                            {{ fval.lineName.errors.alpha.message }}
                        </div>
                        <div *ngIf="fval.lineName.errors && fval.lineName.errors.minLength">
                            {{ fval.lineName.errors.minLength.message }}
                        </div>
                    </div>
                </div>

                <!-- Line code -->
                <div class="col-md-4 ">
                    <label for="lineCode" class="required">Line Code</label>
                    <input type="text" class="form-control txt-uppr" formControlName="lineCode"
                        [ngClass]="{'is-invalid': submitted && fval.lineCode.errors }" maxlength="30" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="lineForm.controls.lineCode.errors && lineForm.controls.lineCode.errors.required">
                            {{ lineForm.controls.lineCode.errors.required.message }}
                        </div>
                        <div *ngIf="lineForm.controls.lineCode.errors && lineForm.controls.lineCode.errors.alpha">
                            {{ lineForm.controls.lineCode.errors.alpha.message }}
                        </div>
                        <div *ngIf="lineForm.controls.lineCode.errors && lineForm.controls.lineCode.errors.minLength">
                            {{ lineForm.controls.lineCode.errors.minLength.message }}
                        </div>
                    </div>
                </div>

                <!-- Line color -->
                <div class="col-md-4 ">
                    <label for="lineColour" class="required">Line Colour</label>
                    <input type="text" class="form-control txt-uppr" formControlName="lineColour"
                        [ngClass]="{'is-invalid': submitted && fval.lineColour.errors }" maxlength="30" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="lineForm.controls.lineColour.errors && lineForm.controls.lineColour.errors.required">
                            {{ lineForm.controls.lineColour.errors.required.message }}
                        </div>
                        <!-- <div *ngIf="lineForm.controls.lineColour.errors && lineForm.controls.lineColour.errors.alpha">
                            {{ lineForm.controls.lineColour.errors.alpha.message }}
                        </div>
                        <div *ngIf="lineForm.controls.lineColour.errors && lineForm.controls.lineColour.errors.minLength">
                            {{ lineForm.controls.lineColour.errors.minLength.message }}
                        </div> -->
                    </div>
                </div>

                <!-- Activation Status -->
                <div class="col-md-4 ">
                    <label for="activationStatus" class="required">Activation Status</label>

                    <select class="form-control" formControlName="activationStatus" [ngClass]="{'is-invalid': submitted && fval.activationStatus.errors }">
                        <option value="" selected>--Select Status--</option>
                        <option *ngFor="let status of activationStatusList" [value]="status.key">{{ status.value }}</option>
                    </select>

                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="lineForm.controls.activationStatus.errors && lineForm.controls.activationStatus.errors.required">
                            {{ lineForm.controls.activationStatus.errors.required.message }}
                        </div>
                    </div>
                </div>

                

                <!-- Terminus A -->
                <div class="col-md-4 ">
                    <label class="required">Terminus A</label>
                    <input type="text" class="form-control" formControlName="terminusA"
                        [ngClass]="{'is-invalid': submitted && fval.terminusA.errors }" maxlength="255" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="lineForm.controls.terminusA.errors && lineForm.controls.terminusA.errors.required" >
                            {{ lineForm.controls.terminusA.errors.required.message }}
                        </div>
                        <div *ngIf="lineForm.controls.terminusA.errors && lineForm.controls.terminusA.errors.alpha">
                            {{ lineForm.controls.terminusA.errors.alpha.message }}
                        </div>
                    </div>
                </div>

                <!-- Terminus B -->
                <div class="col-md-4 ">
                    <label class="required">Terminus B</label>
                    <input type="text" class="form-control" formControlName="terminusB"
                        [ngClass]="{ 'is-invalid': submitted && fval.terminusB.errors }" maxlength="255" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" lineForm.controls.terminusB.errors && lineForm.controls.terminusB.errors.required ">
                            {{ lineForm.controls.terminusB.errors.required.message }}
                        </div>
                        <div *ngIf="lineForm.controls.terminusB.errors && lineForm.controls.terminusB.errors.alpha">
                            {{ lineForm.controls.terminusB.errors.alpha.message }}
                        </div>
                    </div>
                </div>

                <!-- Length -->
                <div class="col-md-4 ">
                    <label for="length" class="required">Length (Distance in KMs)</label>
                    <input type="text" class="form-control txt-uppr" formControlName="length"
                        [ngClass]="{'is-invalid': submitted && fval.length.errors }" maxlength="30" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="lineForm.controls.length.errors && lineForm.controls.length.errors.required">
                            {{ lineForm.controls.length.errors.required.message }}
                        </div>
                        <!-- <div *ngIf="lineForm.controls.length.errors && lineForm.controls.length.errors.alpha">
                            {{ lineForm.controls.length.errors.alpha.message }}
                        </div>
                        <div *ngIf="lineForm.controls.length.errors && lineForm.controls.length.errors.minLength">
                            {{ lineForm.controls.length.errors.minLength.message }}
                        </div> -->
                    </div>
                </div>

                <!-- Operation From -->
                <div class="col-md-4">
                <label for="operationFrom" class="required">Operation From</label>
                    <input readonly type="text" class="form-control form-vehicle date" 
                    formControlName="operationFrom"
                    [ngClass]="{ 'is-invalid': submitted && fval.operationFrom.errors }"
                    id="operationFrom"
                    placeholder="DD-MM-YYYY"
                    bsDatepicker
                    [outsideClick]="true"
                    [bsConfig]="datePickerConfigOperationFrom" >
                    <div *ngIf="submitted && fval.operationFrom.errors" class="invalid-feedback">
                        <div *ngIf="lineForm.controls.operationFrom.errors && lineForm.controls.operationFrom.errors.required">
                            {{ lineForm.controls.operationFrom.errors.required.message }}
                        </div>
                    </div>
                </div>


            </div>

            <div class="clearfix col-md-12 btn-set mt-5">
                <button type="submit">
                    Add
                    <span class="fa-class fa fa-paper-plane"></span>
                </button>
                <button type="reset">
                    Reset
                    <span class="fa-class fa fa-undo"></span>
                </button>
            </div>
        </form>
    </div>
</div>
