<div class="container mt-5 mb-5 "> 
    <!-- <h2>Add Station</h2>
    <hr /> -->
    <!-- <nav aria-label="breadcrumb" class="bdcrm">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item"><a [routerLink]="['/admin/stationlist']">Station</a> </li>
            <li class="breadcrumb-item active" aria-current="page">Add Station</li>
        </ol>
    </nav> -->
    
    <div class="card">
        <div class="card-header col-md-12">
            <div class="col-md-8 fltLeft">
                <h4 class="pt-2 headingTextLabel">
                    <i class="fa fa-gear" aria-hidden="true"></i>
                    Update Business Rule
                </h4>
            </div>
            <div class="col-md-4 fltLeft">
                <span class="fltRight backBtn">
                    <a [routerLink]="['/admin']"> <i class="fa fa-arrow-circle-left"></i> Back</a>
                </span>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <form [formGroup]="configBusinessRuleForm" (ngSubmit)="onFormSubmit()">
            <div class="row row-p-tb4">

                <!-- Minimum Balance -->
                <div class="col-md-4">
                    <label for="minimumBalance" class="required">
                        <b>Minimum Balance</b>
                    </label>
                    <input formControlName="minimumBalance" class="form-control" type="number" [ngClass]="{'is-invalid': submitted && fval.minimumBalance.errors}" min="1" />

                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.minimumBalance.errors && fval.minimumBalance.errors.required ">
                            {{fval.minimumBalance.errors.required.message }}
                        </div>
                    </div>
                </div>

                <!-- Minimum Fare -->
                <div class="col-md-4">
                    <label for="minimumBalance" class="required">
                        <b>Minimum Fare</b>
                    </label>
                    <input formControlName="minimumFare" class="form-control" type="number" [ngClass]="{'is-invalid': submitted && fval.minimumFare.errors}" min="1" />

                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.minimumFare.errors && fval.minimumFare.errors.required ">
                            {{fval.minimumFare.errors.required.message }}
                        </div>
                    </div>
                </div>

                <!-- timeLimitSourceStn -->
                <div class="col-md-4">
                    <label for="timeLimitSourceStn" class="required">
                        <b>Same Station Exit Time</b>
                    </label>
                    <input formControlName="timeLimitSourceStn" class="form-control" type="number" [ngClass]="{'is-invalid': submitted && fval.timeLimitSourceStn.errors}" min="1" />

                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.timeLimitSourceStn.errors && fval.timeLimitSourceStn.errors.required ">
                            {{fval.timeLimitSourceStn.errors.required.message }}
                        </div>
                    </div>
                </div>

                <!-- timeLimitDestinationStn -->
                <div class="col-md-4">
                    <label for="timeLimitDestinationStn" class="required">
                        <b>Destination Station Exit Time</b>
                    </label>
                    <input formControlName="timeLimitDestinationStn" class="form-control" type="number" [ngClass]="{'is-invalid': submitted && fval.timeLimitDestinationStn.errors}" min="1" />

                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.timeLimitDestinationStn.errors && fval.timeLimitDestinationStn.errors.required ">
                            {{fval.timeLimitDestinationStn.errors.required.message }}
                        </div>
                    </div>
                </div>

                <!-- startTimeLimit -->
                <div class="col-md-4">
                    <label for="startTimeLimit" class="required">
                        <b>Business Start Time</b>
                    </label>
                    <input formControlName="startTimeLimit" class="form-control" type="text" [ngClass]="{'is-invalid': submitted && fval.startTimeLimit.errors}" maxlength="30" />

                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.startTimeLimit.errors && fval.startTimeLimit.errors.required ">
                            {{fval.startTimeLimit.errors.required.message }}
                        </div>
                    </div>
                </div>

                <!-- endTimeLimit -->
                <div class="col-md-4">
                    <label for="endTimeLimit" class="required">
                        <b>Business End Time</b>
                    </label>
                    <input formControlName="endTimeLimit" class="form-control" type="text" [ngClass]="{'is-invalid': submitted && fval.endTimeLimit.errors}" maxlength="30" />

                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.endTimeLimit.errors && fval.endTimeLimit.errors.required ">
                            {{fval.endTimeLimit.errors.required.message }}
                        </div>
                    </div>
                </div>

                <!-- penaltyDecision -->
                <!-- <div class="col-md-4">
                    <label for="penaltyDecision" class="required"><b>Penalty Decision</b></label>
                    
                    <ng-select id="penaltyDecision" class=" form-vehicle" formControlName="penaltyDecision" placeholder="Select"
                            [ngClass]="{ 'is-invalid': submitted && fval['penaltyDecision'].errors }">
                        <ng-option value="" selected>--Select--</ng-option>
                        <ng-option *ngFor="let ddl of booleanDropDown" [value]="ddl.key">{{ddl.value}}</ng-option>
                    </ng-select>
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.penaltyDecision.errors && fval.penaltyDecision.errors.required ">
                            {{fval.penaltyDecision.errors.required.message }}
                        </div>
                    </div>
                </div> -->

                <!-- Error Codes -->
                <!-- <div class="col-md-4">
                    <label for="errorCodes" class="required">Error Code Enable</label>
                    <ng-select id="errorCodes" class=" form-vehicle" formControlName="errorCodes" placeholder="Select"
                        [ngClass]="{ 'is-invalid': submitted && fval['errorCodes'].errors }" (change)="onErrCodeChange($event)" >
                        <ng-option value="" selected>--Select--</ng-option>
                        <ng-option *ngFor="let ddl of booleanDropDown" [value]="ddl.key">{{ddl.value}}</ng-option>
                    </ng-select>
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.errorCodes.errors && fval.errorCodes.errors.required ">
                            {{fval.errorCodes.errors.required.message }}
                        </div>
                    </div>
                </div> -->

                <!-- Entry Mismatch -->
                <div class="col-md-4">
                    <label for="entryMisMatch" class="required">Entry MisMatch</label>
                    <ng-select id="entryMisMatch" class=" form-vehicle" formControlName="entryMisMatch" placeholder="Select"
                        [ngClass]="{ 'is-invalid': submitted && fval.entryMisMatch.errors }">
                        <ng-option value="" selected>--Select--</ng-option>
                        <ng-option *ngFor="let ddl of booleanDropDown" [value]="ddl.key">{{ddl.value}}</ng-option>
                    </ng-select>
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.entryMisMatch.errors && fval.entryMisMatch.errors.required ">
                            {{fval.entryMisMatch.errors.required.message }}
                        </div>
                    </div>
                </div>

                <!-- Exit Mismatch -->
                <div class="col-md-4">
                    <label for="exitMisMatch" class="required">Exit MisMatch</label>
                    <ng-select id="exitMisMatch" class=" form-vehicle" formControlName="exitMisMatch" placeholder="Select"
                        [ngClass]="{ 'is-invalid': submitted && fval['exitMisMatch'].errors }">
                        <ng-option value="" selected>--Select--</ng-option>
                        <ng-option *ngFor="let ddl of booleanDropDown" [value]="ddl.key">{{ddl.value}}</ng-option>
                    </ng-select>
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.exitMisMatch.errors && fval.exitMisMatch.errors.required ">
                            {{fval.exitMisMatch.errors.required.message }}
                        </div>
                    </div>
                </div>

                <!-- Insufficient Amount -->
                <div class="col-md-4 mt-3">
                    <label for="insufficientAmount" class="required">Insufficient Amount</label>
                    <ng-select id="insufficientAmount" class=" form-vehicle" formControlName="insufficientAmount" placeholder="Select"
                        [ngClass]="{ 'is-invalid': submitted && fval['insufficientAmount'].errors }">
                        <ng-option value="" selected>--Select--</ng-option>
                        <ng-option *ngFor="let ddl of booleanDropDown" [value]="ddl.key">{{ddl.value}}</ng-option>
                    </ng-select>
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.insufficientAmount.errors && fval.insufficientAmount.errors.required ">
                            {{fval.insufficientAmount.errors.required.message }}
                        </div>
                    </div>
                </div>

                <!-- OverStay -->
                <div class="col-md-4 mt-3">
                    <label for="overStay" class="required">OverStay</label>
                    <ng-select id="overStay" class=" form-vehicle" formControlName="overStay" placeholder="Select"
                        [ngClass]="{ 'is-invalid': submitted && fval['overStay'].errors }">
                        <ng-option value="" selected>--Select--</ng-option>
                        <ng-option *ngFor="let ddl of booleanDropDown" [value]="ddl.key">{{ddl.value}}</ng-option>
                    </ng-select>
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.overStay.errors && fval.overStay.errors.required ">
                            {{fval.overStay.errors.required.message }}
                        </div>
                    </div>
                </div>
                

            </div>

            <!-- Submit buttons -->
            <div class="clearfix col-md-12 btn-set">
                <button type="submit" class="btn-sub my-5">
                    Update
                    <span class="fa-class fa fa-paper-plane"></span>
                </button>
                <button type="reset" class="btn-sub my-5">
                    Reset
                    <span class="fa-class fa fa-redo"></span>
                </button>

            </div>
            <br>
        </form>
    </div>
</div>