// $topnav-background-color: #7160db;
.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    // box-shadow: 0 0 30px #7160db;
    background: linear-gradient(45deg, #020d27, #35434e);
    top: 72px;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    margin-bottom: 48px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    // background-color: $topnav-background-color;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    // border-top: 1px solid rgba(255,255,255,0.3);
    .list-group {
        a.list-group-item {
            background: linear-gradient(45deg, #020d27, #35434e);
            border: 0;
            border-radius: 0;
            color: #ca7308e8;
            transition: 0.5s ease-in-out;
            text-decoration: none;
            // .fa {
            //     margin-right: 10px;
            // }
        }
        .list-group-item:hover {
            // background-color: #8d038094;
            transform: scale(1.1, 1.1);
            text-shadow: 0 0 10px whitesmoke;
        }
        a.isActive {
            background-color: #f7e9f594;
        }

        // a:hover {
        //     background: darken($topnav-background-color, 5%);
        //     color: rgb(114, 85, 85);

        // }
        // a.router-link-active {
        //     background: darken($topnav-background-color, 5%);
        //     color: #fff;
        // }
        .header-fields {
            padding-top: 10px;

            > .list-group-item:first-child {
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border: none;
        }
        .panel-title {
            font-size: 1rem;
            height: 50px;
            margin-bottom: 0;
            a {
                color: #999;
                text-decoration: none;
                font-weight: 400;
                // background: $topnav-background-color;
                span {
                    position: relative;
                    display: block;
                    padding: 0.75rem 1.5rem;
                    padding-top: 1rem;
                }
            }
            a:hover,
            a:focus {
                color: #fff;
                outline: none;
                outline-offset: -2px;
            }
        }
        // .panel-title:hover {
        //     // background: darken($topnav-background-color, 5%);
        // }
        .panel-collapse {
            border-radius: 0;
            border: none;
            .panel-body {
                .list-group-item {
                    border-radius: 0;

                    border: 0 solid transparent;
                    a {
                        color: #999;
                    }
                    a:hover {
                        color: #fff;
                    }
                }
                // .list-group-item:hover {
                //     background: darken($topnav-background-color, 5%);
                // }
            }
        }
    }
}

.nested-menu {
    .list-group-item {
        cursor: pointer;
        // background-color: $topnav-background-color;
        color: #fff;
        border: none;
        transition: 0.5s ease-in-out;
        background: linear-gradient(45deg, #020d27, #35434e);
    }
    .list-group-item:hover {
        // background-color: #8d038094;
        border-radius: 2%;
        text-shadow: 0 0 10px whitesmoke;
        // transform: skew(-6deg, 2deg) scale(1.2, 1.2);
    }
    a.isActive {
        background-color: #8d038094;
    }

    .nested {
        list-style-type: none;
    }
    ul {
        padding: 0;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    // padding: 10px;
                    display: block;
                }
            }
        }
    }
}

.toggle-button {
    position: fixed;
    width: 236px;
    cursor: pointer;
    padding: 18px;
    bottom: 0px;
    color: #fff;
    // background: #2a1c58;
    background-image: linear-gradient(45deg, #020d27, #35434e);
    i {
        font-size: 23px;
    }
    &:hover {
        // background: rgb(42, 28, 88);
        color: #fff;
    }
    border-top: 1px solid #999;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.collapsed {
    width: 70px;
    span {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .sidebar {
        top: 54px;
        left: 0px;
    }
}
@media print {
    .sidebar {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .header-fields {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}
