<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">

     <!-- toggle button -->
     <div class="toggle-button" [ngClass]="{ collapsed: collapsed }" (click)="toggleCollapsed()">
        <i class="fa fa-bars {{collapsed?'right':'left'}}" style="padding-left: 10px"></i>&nbsp;
        <span>{{ "Collapse" | translate }}</span>
    </div>

    <div class="list-group mrgn">
        <!-- admindashboard -->
        <a [routerLink]="['admindashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>
            <span>{{ "Dashboard" }}</span>
        </a>

        <!-- Create user manager from admin -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('list1')">
                <i class="fa fa-users"></i>&nbsp;
                <span>{{ "Manage Users" }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'list1'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['add-usermanager']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-user-plus"></i>&nbsp;
                            <span>{{ "Add User" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['usermanager-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list"></i>&nbsp;
                            <span>{{ "Users List" }}</span>
                        </a>
                    </li>
                   
                </ul>
            </li>
        </div>

        <!-- line -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('list2')">
                <i class="fa fa-random"></i>&nbsp;
                <span>{{ "Line" }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'list2'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['addline']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-map-signs"></i>&nbsp;
                            <span>{{ "Add Line" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['linelist']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-bars"></i>&nbsp;
                            <span>{{ "Line List" }}</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['extendline']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-openid"></i>&nbsp;
                            <span>{{ 'Extend Line' }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['extend-line-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-bars"></i>&nbsp;
                            <span>{{ 'Extend Line List' }}</span>
                        </a>
                    </li> -->
                    <!-- <li>
                        <a [routerLink]="['edit-line']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-edit"></i>&nbsp;
                            <span>{{ 'Edit Line' | translate }}</span>
                        </a>
                    </li> -->
                </ul>
            </li>
        </div>

         <!-- Manage zone from admin -->
         <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('list3')">
                <i class="fa fa-area-chart"></i>&nbsp;
                <span>{{ "Manage Zone" }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'list3'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['admin-zone-add']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-area-chart"></i>&nbsp;
                            <span>{{ "Add Zone" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['admin-zone-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list"></i>&nbsp;
                            <span>{{ "Zone List" }}</span>
                        </a>
                    </li>
                   
                </ul>
            </li>
        </div>

        <!-- station -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('list4')">
                <i class="fa fa-subway"></i>&nbsp;
                <span>{{ "Station" }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'list4'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['addstation']">
                            <i class="fa fa-train"></i>&nbsp;
                            <span>{{ "Add Station" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['stationlist']">
                            <i class="fa fa-bars"></i>&nbsp;
                            <span>{{ "Station List" }}</span>
                        </a>
                    </li>
                   
                </ul>
            </li>
        </div>

        <!-- fare list  =============== NOT USED now used business rule--> 
        <div class="nested-menu" style="display: none;">
            <a [routerLink]="['fare-list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-file-text-o"></i>&nbsp;
                <span>{{ "Fare List" }}</span>
            </a>

            <!-- not in use -->
            <!-- <a [routerLink]="['audit']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-file-text-o"></i>&nbsp;
                <span>{{ "Audit File" }}</span>
            </a> -->
            
            <!-- <a [routerLink]="['penality']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-upload"></i>&nbsp;
                <span>{{ "Penalty File Upload" }}</span>
            </a> -->

        </div>

        <div class="nested-menu" >
            <a [routerLink]="['admin-config-business-rule']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-file-text-o"></i>&nbsp;
                <span>{{ "Business Rule" }}</span>
            </a> 
        </div>

        <!-- <div class="nested-menu" >
            <a [routerLink]="['penality']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-upload"></i>&nbsp;
                <span>{{ "Penalty File Upload" }}</span>
            </a>
        </div> -->

        <div class="nested-menu" style="display: none;">
            <a class="list-group-item" (click)="addExpandClass('list5')">
                <i class="fa fa-clock"></i>&nbsp;
                <span>{{ "Schedule File Upload" }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'list5'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['schedule-file-update']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-clock"></i>&nbsp;
                            <span>{{ "Add" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['schedule-file-update-list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-bars"></i>&nbsp;
                            <span>{{ "List" }}</span>
                        </a>
                    </li>
                   
                </ul>
            </li>
        </div>

        <!-- siderbar username and settings -->
        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user p-left"></i>{{ username | titlecase }}</span>
                    <b class="caret ml-10"></b>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['edit-profile']" class="dropdown-item">
                                <i class="fa fa-fw fa-user"></i>
                                {{ "View Profile" }}
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['privacy']" class="dropdown-item">
                                &nbsp;<i class="fa fa-lock"></i> &nbsp;{{
                                "Forgot Password"
                                }}
                            </a>
                        </li>
                        <!-- <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li> -->
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i>
                                    {{ "Log Out" }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>

         <!-- Manage Media Master -->
         <div class="nested-menu" style="display: none;">
            <a class="list-group-item" (click)="addExpandClass('list6')">
                <i class="fa fa-asterisk"></i>&nbsp;
                <span>{{ "Fare" }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'list6'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['add-media-type']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-plus mx-1"></i>
                            <span class="ml-2">{{ "Add Media type" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['media-type-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list mx-1"></i>
                            <span class="ml-2">{{ "Media Type List" }}</span>
                        </a>
                    </li>
                    
                    <li>
                        <a [routerLink]="['ticket-type-add']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-plus mx-1"></i>
                            <span class="ml-2">{{ "Add Ticket type" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['ticket-type-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list mx-1"></i>
                            <span class="ml-2">{{ "Ticket Type List" }}</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['ticket-sub-type-add']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-plus mx-1"></i>
                            <span class="ml-2">{{ "Add Ticket Sub Type" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['ticket-sub-type-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list mx-1"></i>
                            <span class="ml-2">{{ "Ticket Sub Type List" }}</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['media-ticket-map']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-random mx-1"></i>
                            <span class="ml-2">{{ "Media-Ticket Map" }}</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['media-ticket-subtype-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list mx-1"></i>
                            <span class="ml-2">{{ "Media-Ticket List" }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <!-- Manage Ticket Master -->
        <!-- <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('list7')">
                <i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;
                <span>{{ "Ticket Master" }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'list7'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['ticket-type-add']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-plus mx-1"></i>
                            <span>{{ "Add Ticket type" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['ticket-type-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list mx-1"></i>
                            <span>{{ "Ticket Type List" }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div> -->

        <!-- Manage Ticket Sub Type Master -->
        <!-- <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('list8')">
                <i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;
                <span>{{ "Ticket Sub Type Master" }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'list8'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['ticket-sub-type-add']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-plus mx-1"></i>
                            <span>{{ "Add Ticket Sub Type" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['ticket-sub-type-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list mx-1"></i>
                            <span>{{ "Ticket Sub Type List" }}</span>
                        </a>
                    </li>
                   
                </ul>
            </li>
        </div> -->


        <!-- Manage Special Days Master -->
        <div class="nested-menu" style="display: none;">
            <a class="list-group-item" (click)="addExpandClass('list9')">
                <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
                <span>{{ "Special Days Master" }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'list9'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['special-days-add']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-plus mx-1"></i>
                            <span>{{ "Add Special Day" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['special-days-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list mx-1"></i>
                            <span>{{ "Special Days List" }}</span>
                        </a>
                    </li>
                   
                </ul>
            </li>
        </div>

        <!-- Manage Time Slot Master -->
        <!-- <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('list10')">
                <i class="fa fa-clock"></i>&nbsp;
                <span>{{ "Time Slot Master" }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'list10'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['time-table-add']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-plus mx-1"></i>
                            <span>{{ "Add Time Slot" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['time-table-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list mx-1"></i>
                            <span>{{ "Time Slot List" }}</span>
                        </a>
                    </li>
                   
                </ul>
            </li>
        </div> -->

        <!-- Manage Day Type Master -->
        <div class="nested-menu" style="display: none;">
            <a class="list-group-item" (click)="addExpandClass('list11')">
                <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
                <span>{{ "Day Type Master" }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'list11'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['day-type-add']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-plus mx-1"></i>
                            <span>{{ "Add Day Type" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['day-type-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list mx-1"></i>
                            <span>{{ "Day Type List" }}</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['day-timeSlot-map']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list mx-1"></i>
                            <span>{{ "Day Time Slot Map" }}</span>
                        </a>
                    </li> -->
                   
                </ul>
            </li>
        </div>

        <!-- Manage Base Fare Master -->
        <div class="nested-menu" style="display: none;">
            <a class="list-group-item" (click)="addExpandClass('list12')">
                <i class="fa fa-inr"></i>&nbsp;&nbsp;
                <span>{{ "Base Fare Master" }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'list12'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['base-fare-add']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-plus mx-1"></i>
                            <span>{{ "Add Base Fare" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['base-fare-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list mx-1"></i>
                            <span>{{ "Base Fare List" }}</span>
                        </a>
                    </li>
                   
                </ul>
            </li>
        </div>

        <!-- Generate File -->
        <div class="nested-menu" style="display: none;">
            <a class="list-group-item" [routerLink]="['generate-file']">
                <i class="fa fa-file"></i>&nbsp;&nbsp;
                <span>{{ "Generate File" }}</span>
            </a>
        </div>

        <!-- Upload OD matrix file -->
        <div class="nested-menu" >
            <a class="list-group-item" [routerLink]="['OD-matrix-file-upload']">
                <i class="fa fa-upload"></i>
                <span>{{ "Upload OD Matrix" }}</span>
            </a>
        </div>

        <!-- Transactions -->
        <div class="nested-menu" >
            <a class="list-group-item" [routerLink]="['transactions']">
                <i class="fa fa-exchange"></i>
                <span>{{ "Transactions" }}</span>
            </a>
        </div>

       
    </div>
</nav>