<div class="card m-3 p-3 shadow-lg p-3 mb-5 bg-grey rounded">
    <h1
        class="card-header d-flex justify-content-center align-item-middle lead font-weight-bold shadow p-3 mb-5 bg-white rounded shadow p-3 mb-5 bg-white rounded"
        style="
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        "
    >
        Change Password
    </h1>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Old Password</label>
                <div class="input-group">
                    <div class="input-group-prepend m2">
                        <span class="input-group-text p3">
                            <i class="fa fa-lock p-1"></i>
                        </span>
                    </div>
                    <input
                        type="password"
                        class="form-control"
                        placeholder="Enter old password"
                    />
                </div>
            </div>

            <div class="form-group col-md-4">
                <label>New Password</label>
                <div class="input-group">
                    <div class="input-group-prepend m2">
                        <span class="input-group-text p3">
                            <i class="fa fa-key p-1"></i>
                        </span>
                    </div>
                    <input
                        type="password"
                        class="form-control"
                        placeholder="Enter new password"
                    />
                </div>
            </div>

            <div class="form-group col-md-4">
                <label>Confirm Password</label>
                <div class="input-group">
                    <div class="input-group-prepend m2">
                        <span class="input-group-text">
                            <i class="fa fa-key p-1"></i>
                        </span>
                    </div>
                    <input
                        type="password"
                        class="form-control"
                        placeholder="Confirm password"
                    />
                </div>
            </div>
        </div>
        <button class="btn btn-outline-success">
            <i class="fa fa-lock"></i> &nbsp; Reset Password
        </button>
    </div>
</div>

<!-- <div class="form">
    <h2>Login</h2>
    <div class="input">
      <div class="inputBox">
        <label>Username</label>
        <input type="text" placeholder="example@xyz.com">
      </div>
      <div class="inputBox">
        <label>Password</label>
        <input type="password" placeholder="······">
      </div>
      <div class="inputBox">
        <input type="submit" value="Signin">
      </div>
    </div>
    <p class="forget">Forgot Password? <a href="#">Click Here</a></p>
  </div> -->
