<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ffffff" type="timer" [fullScreen]="true">
    <p style="color: white">Loading...</p>
</ngx-spinner>


<!-- <h2 class="card-header hdr-set">User List</h2> -->


<div class="container container-mrgn">
    <div class="card mt-5">
        <div class="card-header col-md-12">
            <!-- <div class="col-md-12 fltLeft">
                <h4 class="pt-2 headingTextLabel">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    User Manager List
                </h4>
            </div> -->
            <div class="col-md-12">
                <div class="col-md-8 fltLeft">
                    <h4 class="pt-2 headingTextLabel">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        User List
                    </h4>
                </div>
                <div class="col-md-4 fltRight">
                    <select #fileExtn class="download fltRight mt-1" (change)="onFileExtensionChange($event)" >
                        <option value="">Download</option>
                        <option *ngFor="let item of fileExtension;let i=index" [value]="item">{{ item }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive table-set mt-3" >
        <table id="dataTable" datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="display nowrap table"
            cellspacing="0"  *ngIf="this.temp">
            <thead>
                <tr class="text-center">
                    <th>Emp ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Mobile Number</th>
                    <!-- <th>Station Code</th> -->
                    <th>Role</th>
                    <!-- <th>Created Date</th> -->
                    <th>Edit</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList">
                    <td>{{ user && user.empId ? user.empId : 'NA' }}</td>
                    <td>{{ user && user.name ? user.name : 'NA' }}</td>
                    <td>{{ user && user.email ? user.email : 'NA' }}</td>
                    <td>{{ user && user.username ? user.username : 'NA' }}</td>
                    <td>{{ user && user.mobileNumber ? user.mobileNumber : 'NA' }}</td>
                    <!-- <td>{{ user.stationCode }}</td> -->
                    <!-- <td>{{ user.concanatedRoleCode}}</td> -->
                    <td>
                        <span *ngFor="let rol of user.roles; let last=last">
                            {{  rol.roleCode  }} <span *ngIf="!last">,</span>
                        </span>
                    </td>
                    <!-- <td>{{ user.createdDate | date }}</td> -->
                    <td>
                        <i class="fa fa-pencil-square-o edit" (click)="update(user)"></i>
                    </td>
    
                    <td>
                        <!-- <input type="checkbox" [value]="user.status" id="handleCheckBox"
                            [checked]="(user.status === 0 || user.status===2) ?'':'checked'"
                            (change)="openModal(templateDeactivate, templateActive, $event)"> -->

                            <select class="form-control" (change)="openModal(templateDeactivate, templateActive, $event)">
                                <option value="">Select Status</option>
                                <option value="1" [selected]="user.status == 1 ">Activated</option>
                                <option value="0" [selected]="user.status == 0 ">Deactivated</option>
                                <!-- <option value="2" [selected]="user.status=='2' ">Closed Station</option> -->
                            </select>
    
                        <ng-template #templateDeactivate>
                            <div class="modal-body text-center">
                                <p>Are you sure you want to DEACTIVATE this User Account?</p>
                                <button type="button" class="btn btn-info" (click)="confirm(user.username, user.status)">
                                    Deactivate
                                </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-danger" (click)="decline()">
                                    Cancel
                                </button>
                            </div>
                        </ng-template>
    
                        <ng-template #templateActive>
                            <div class="modal-body text-center">
                                <p>Are you sure you want to ACTIVATE this User Account?</p>
                                <button type="button" class="btn btn-info" (click)="confirm(user.username, user.status)">
                                    Activate
                                </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-danger" (click)="decline()">
                                    Cancel
                                </button>
                            </div>
                        </ng-template>
                    </td>
    
                    <!--<td>
                    <button class="btn btn-dark" (click)="openBlacklistModel(blacklist_user)">
                        <i class="fa fa-ban"></i>
                    </button>
                    <ng-template #blacklist_user>
                        <div class="modal-body text-center">
                            <p>Do you really want to <b>blacklist </b> this?</p>
                            <button type="button" class="btn btn-default" (click)="blacklist(user.id)">
                                Confirm
                            </button>
                            <button type="button" class="btn btn-primary" (click)="notBlacklist()">
                                Cancel
                            </button>
                        </div>
                    </ng-template>
                </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
