<div class="container mt-5">
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="pt-2 text-primary">
                <i class="fa fa-list" aria-hidden="true"></i>
                Special Day List
            </h4>
        </div>
    </div>
    <!-- <div class="heading">
        <h2>
            Special Day List
        </h2>
    </div> -->
    
    <div class="table-responsive table-set tblMrgn">
        <table class="table-res row-border hover table-head" id="dataTable" datatable="" class="display nowrap table"  *ngIf="this.temp">
            <thead>
                <tr class="text-center">
                    <th>#ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of specialDayList'>
                    <td><b>{{ item && item.id ? item.id : 'NA' }}</b></td>
                    <td>{{ item && item.specialDayName ? item.specialDayName : 'NA' }}</td>
                    <td>{{ item && item.specialDayDate ? item.specialDayDate : 'NA' }}</td>
                    <td>
                        <a href="javascript:;" [routerLink]="['/admin/special-days-edit', item.id]">
                            <i  class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

