<!-- 
 <app-header></app-header>
<app-complaint-footer></app-complaint-footer> -->
<!-- <app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">
    <router-outlet></router-outlet>
    <app-complaint-footer></app-complaint-footer>
</section>  -->

<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<app-complaint-footer></app-complaint-footer>
<section class="main-container" [ngClass]="{ collapsed: collapedSideBar }">
    <router-outlet> </router-outlet>
</section>
