.table-bordered th, .table-bordered td 
{
    border: 0px solid #dee2e6; 
}
table tr 
{
    text-align: center;
}

.table th, .table td 
{
    // padding:7px 5px !important;
    padding: 7px 22px !important;
    vertical-align: middle!important;
    border-top: 1px solid #dee2e6;
    font-size: 12PX!important;
    
}
.table th
{
    //background: #31235e;
    color: #fff;
}
thead
{
    background: #31235e;
    color: #fff;
}
.heading
{
    // padding:35px 20px 20px 20px;
    border-bottom: 2px solid #2a1c5a;
}
.equip-dtable{

    padding: 35px 20px!important;
    font-size: 15px !important;
    background: #ece6ff!important;
}
.equip-dtable .configBtn
{
   font-size:12px;
   padding:5px!important;
   color: #fff;
   background-color: #2a1c5a!important;
   border-color: #2a1c5a!important;
}
table.dataTable thead .sorting_asc
{
    background: none!important;
}
table.dataTable thead .sorting
{
    background: none!important;
}