<h2 class="text-muted">Central Dashboard</h2>
<hr />
<div class="container-fluid">

    <!-- <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3> {{linecount}} </h3>
                    <p> Lines </p>
                </div>
                <div class="icon">
                    <i class="fa fa-train" aria-hidden="true"></i>
                </div>
                <a [routerLink]="['/admin/linelist']" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-green">
                <div class="inner">
                    <h3> {{stationcount}} </h3>
                    <p> No of Stations </p>
                </div>
                <div class="icon">
                    <i class="fa fa-train" aria-hidden="true"></i>
                </div>
                <a [routerLink]="['/admin/stationlist']" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-red">
                <div class="inner">
                    <h3> {{usercount}} </h3>
                    <p> Users </p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a [routerLink]="['/admin/usermanager-list']" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div> -->


    <div class="row text-center" style="display: none;">
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pb-28 scale">
                <a [routerLink]="['/admin/linelist']">
                    <svg
                        id="Capa_1"
                        enable-background="new 0 0 512 512"
                        height="120"
                        viewBox="0 0 512 512"
                        width="140"
                    >
                        <g>
                            <g>
                                <path
                                    d="m340.924 481.533c-8.424 0-15.254-6.829-15.254-15.254v-306.83h-254.422c-8.424 0-15.254-6.829-15.254-15.254s6.829-15.254 15.254-15.254h254.422c16.822 0 30.508 13.686 30.508 30.508v306.829c0 8.425-6.83 15.255-15.254 15.255z"
                                    fill="#0ab69f"
                                />
                            </g>
                            <g>
                                <path
                                    d="m477.425 337.378h-136.501c-8.424 0-15.254-6.829-15.254-15.254s6.829-15.254 15.254-15.254h136.501v-269.812c0-8.424 6.829-15.254 15.254-15.254 8.424 0 15.254 6.829 15.254 15.254v269.813c0 16.822-13.686 30.507-30.508 30.507z"
                                    fill="#e53950"
                                />
                            </g>
                            <g>
                                <path
                                    d="m340.924 438.965h-193.251c-8.424 0-15.254-6.829-15.254-15.254v-158.015c0-8.424 6.829-15.254 15.254-15.254 8.424 0 15.254 6.829 15.254 15.254v142.762h177.997c8.424 0 15.254 6.829 15.254 15.254s-6.83 15.253-15.254 15.253z"
                                    fill="#3692bc"
                                />
                            </g>
                            <circle
                                cx="492.678"
                                cy="180.895"
                                fill="#f8a5af"
                                r="19.322"
                            />
                            <circle
                                cx="340.924"
                                cy="322.124"
                                fill="#dff6fd"
                                r="19.322"
                            />
                            <circle
                                cx="150.556"
                                cy="420.829"
                                fill="#8abbd5"
                                r="19.322"
                            />
                            <path
                                d="m340.836 377.258c-20.911.047-37.956 17.932-37.956 38.843 0 8.64.415 8.306 29.307 72.88 3.378 7.55 14.1 7.542 17.479-.007 29.278-65.403 29.302-63.989 29.302-73.673 0-21.039-17.08-38.09-38.132-38.043z"
                                fill="#5a5a5a"
                            />
                            <path
                                d="m340.925 428.18c-7.1 0-12.877-5.777-12.877-12.878s5.777-12.877 12.877-12.877 12.877 5.777 12.877 12.877c0 7.101-5.777 12.878-12.877 12.878z"
                                fill="#bad6e5"
                            />
                            <path
                                d="m71.283 26.814c-20.911.047-37.956 17.932-37.956 38.843 0 8.64.415 8.306 29.307 72.88 3.378 7.55 14.1 7.542 17.479-.007 29.278-65.403 29.302-63.989 29.302-73.673 0-21.04-17.08-38.091-38.132-38.043z"
                                fill="#eb5569"
                            />
                            <path
                                d="m71.371 77.735c-7.1 0-12.877-5.777-12.877-12.878s5.777-12.877 12.877-12.877 12.877 5.777 12.877 12.877c0 7.101-5.776 12.878-12.877 12.878z"
                                fill="#f6b2bb"
                            />
                            <path
                                d="m492.678 21.804h-204.435c-6.957 0-13.031 4.707-14.77 11.442l-56.05 217.196h-202.169c-8.425 0-15.254 6.83-15.254 15.254s6.829 15.254 15.254 15.254h202.169c13.915 0 26.062-9.411 29.54-22.885l53.097-205.754h192.618z"
                                fill="#fec165"
                            />
                            <g fill="#fee8c7">
                                <circle cx="259.316" cy="144.196" r="19.322" />
                                <circle cx="289.164" cy="37.057" r="19.322" />
                                <circle cx="26.625" cy="266.189" r="19.322" />
                            </g>
                            <circle
                                cx="147.673"
                                cy="266.189"
                                fill="#dff6fd"
                                r="19.322"
                            />
                            <circle
                                cx="492.678"
                                cy="36.681"
                                fill="#f8a5af"
                                r="19.322"
                            />
                            <path
                                d="m340.836 377.258c-3.465.008-6.819.515-10.011 1.435 15.983 4.507 27.702 19.184 27.702 36.609 0 9.518-.024 8.319-27.822 70.368.486 1.086.979 2.187 1.482 3.312 3.378 7.55 14.1 7.542 17.479-.007 29.279-65.403 29.302-63.989 29.302-73.673 0-21.04-17.08-38.091-38.132-38.044z"
                                fill="#444"
                            />
                            <path
                                d="m71.283 26.814c-3.464.008-6.819.515-10.011 1.435 15.983 4.507 27.702 19.184 27.702 36.609 0 9.518-.024 8.319-27.822 70.368.486 1.086.979 2.186 1.482 3.311 3.378 7.55 14.1 7.542 17.479-.007 29.278-65.403 29.302-63.989 29.302-73.673 0-21.04-17.08-38.091-38.132-38.043z"
                                fill="#e53950"
                            />
                        </g>
                    </svg>
    
                    <h5 class="count-set">No. of Lines</h5>
                    <span class="badge badge-primary count-size">
                        {{ linecount }}</span>
                </a>
            </div>
            

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pb-28 scale">
            <a [routerLink]="['/admin/stationlist']">
                <svg
                    height="120px"
                    viewBox="0 0 405.504 405.504"
                    style="enable-background: new 0 0 405.504 405.504"
                >
                    <g>
                        <g>
                            <path
                                style="fill: #ed1c24"
                                d="M302.336,132.096c-10.752-11.264-29.184-17.92-54.784-19.968l29.696-12.288c0,0,0.512,0,0.512-0.512h12.288
                            c3.072,0,5.12-2.048,5.12-5.12s-2.048-5.12-5.12-5.12h-117.76c-3.072,0-5.12,2.048-5.12,5.12s2.048,5.12,5.12,5.12h12.288
                            c0,0,0.512,0,0.512,0.512l29.696,12.288c-26.112,2.048-44.544,8.704-55.296,19.968c-9.728,10.24-8.704,20.48-8.704,20.48v122.88
                            c0,9.216,7.68,16.896,16.896,16.896h8.192l-12.288,15.36c-1.536,2.048-1.536,5.632,1.024,7.168
                            c1.024,0.512,2.048,1.024,3.072,1.024c1.536,0,3.072-0.512,4.096-2.048l1.536-2.048h115.2l1.536,2.048
                            c1.024,1.536,2.56,2.048,4.096,2.048c1.024,0,2.048-0.512,3.072-1.024c2.048-1.536,2.56-5.12,1.024-7.168l-12.288-15.36h2.56
                            c0,0,0.512,0,1.024,0c3.072,0,10.24-0.512,15.872-5.632c3.584-3.584,5.632-8.704,5.632-14.336V153.088
                            C311.552,153.088,312.064,142.336,302.336,132.096z M210.176,99.328h40.96l-20.48,8.704L210.176,99.328z M180.992,302.592
                            l7.68-9.728h84.48l7.68,9.728H180.992z M298.752,280.064c-3.072,2.56-7.68,3.072-9.728,3.072H167.168
                            c-3.584,0-6.656-3.072-6.656-6.656V230.4H300.8v42.496h0.512C301.312,275.968,300.288,278.016,298.752,280.064z M300.8,220.16
                            H160.512v-50.176H300.8V220.16z M301.312,159.744h-140.8v-7.168c0-0.512-0.512-6.656,6.144-13.824
                            c7.68-7.68,24.576-17.408,64-17.408c39.424,0,56.32,9.216,64,17.408c6.656,7.168,6.656,13.824,6.656,14.336V159.744z"
                            />
                        </g>
                    </g>
                    <g>
                        <g>
                            <circle cx="192.256" cy="255.488" r="9.216" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <circle cx="269.568" cy="255.488" r="9.216" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <path
                                d="M242.944,137.728H218.88c-3.072,0-6.144,2.56-6.144,6.144s2.56,6.144,6.144,6.144h24.064c3.072,0,6.144-2.56,6.144-6.144
                            S246.528,137.728,242.944,137.728z"
                            />
                        </g>
                    </g>
                    <g>
                        <g>
                            <path
                                d="M230.656,44.032c-45.568,0-86.016,18.944-115.2,49.664H26.368V5.12c0-3.072-2.048-5.12-5.12-5.12s-5.12,2.048-5.12,5.12
                            v395.264c0,3.072,2.048,5.12,5.12,5.12s5.12-2.048,5.12-5.12V312.32h89.088c29.184,30.72,69.632,49.664,115.2,49.664
                            c87.552,0,158.72-71.168,158.72-158.72S318.208,44.032,230.656,44.032z M26.368,301.568V103.936h80.384
                            c-21.504,27.136-34.816,61.44-34.816,98.816s12.8,71.68,34.816,98.816H26.368z M230.656,351.744
                            c-81.92,0-148.48-66.56-148.48-148.48c0-81.92,66.56-148.48,148.48-148.48s148.48,66.56,148.48,148.48
                            C379.136,285.184,312.576,351.744,230.656,351.744z"
                            />
                        </g>
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                </svg>               
                <h5 class="count-set">No. of Stations</h5>
                <span class="badge badge-success count-size">
                    {{ stationcount }}
                </span>
            </a>
        </div>

        <br>
        <br>
    </div>

    <!-- Dashboard code start from here -->
    <section class="station-details">
        <legend>
            Station Real Time Status
        </legend>
        <div class="row" *ngFor="let list of lineStationList">
            <div class="col-md-12 my-2" *ngIf="list['stationList'].length>0">
                <label><strong>{{list.line.lineName}}</strong> : </label>
                <div class="fr_stations">
                    <ul *ngFor="let item of list.stationList">

                        <ng-template #stationContent>
                            Station Name: {{ item.stationName }}
                            <br />
                            Station Code: {{ item.stationCode }}
                            <br />
                            Latitude: {{ item.latitude }}
                            <br />
                            Longitude: {{ item.longitude }}
                            <br />
                            Contact: {{ item.contactNum }}
                            <br />
                            Junction: {{ item.junction? "Yes" : "No" }}
                            <br />
                            Status: {{ item.status == 1 ? "Station Active" : item.status == 2 ? "Station Close" : "Station Deactive" }}
                        </ng-template>
                        <!-- <li [ngClass]="{'st-closed': item.status==0}">{{item.stationName}}</li> station-custom-class -->
                        <a [routerLink]="['/admin/single-station-details',item.stationCode]" >
                            <li [ngClass]="[item.status==0 ? 'de-activated' : '',  item.status==2 ? 'st-closed' : '']" [title]="[item.status==0 ? 'Station Deactive' : '' || item.status==1 ? 'Station Active' : '' || item.status==2 ? 'Station Closed' : '']" [tooltipClass]="" placement="top" [ngbTooltip]="stationContent" delay="500">{{item.stationName}}</li>
                        </a>
                        
                    </ul>
                </div>
            </div>
           
            
        </div>

    </section>

    <hr />
    <section class="opr-mode">
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="oprModeForm" (ngSubmit)="onFormSubmit()">
                    <div class="opr-mode-box ">
                        <!-- <legend>
                            Choose Gate Operation Mode:
                        </legend>
                        <p></p>
                        <div class="radio radio-info radio-inline" *ngFor="let list of modeList;  let i = index;">
                            <input type="radio" id="inlineRadio{{i+1}}"  formControlName="modeName" [value]="list.modeName">
                            <label for="inlineRadio{{i+1}}">{{list.modeCode}} </label>
                        </div>
                       
                        <div
                            *ngIf="oprModeForm.controls.modeName.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="oprModeForm.controls.modeName.errors">
                                {{ oprModeForm.controls.modeName.errors.required.message }}
                            </div>
                        </div>
                        <p></p> -->
                        <legend>
                            Change Gate Operation Mode:
                        </legend>
                        <div class="col-md-6 form-group">
                            <label>Select Station :</label>
                            <ng-select class="" formControlName="stationCode" [ngClass]="{
                                                    'is-invalid': submitted && oprModeForm.controls.stationCode.errors
                                                }" (ngModelChange)="getconfiguredGateList($event)">
                                <ng-option value="">Select Station</ng-option>
                                <ng-option *ngFor="let list of station" [value]="list.stationCode">
                                    {{ list.stationName }}
                                </ng-option>
                            </ng-select>
                            <div *ngIf="submitted" class="invalid-feedback">
                                <div *ngIf="
                                    oprModeForm.controls.stationCode.errors &&
                                    oprModeForm.controls.stationCode.errors.required">
                                    {{
                                        oprModeForm.controls.stationCode.errors.required.message
                                    }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                           
                            <label>Select Mode :</label>
                            <select class="form-control" formControlName="modeName" [ngClass]="{
                                                    'is-invalid': submitted && oprModeForm.controls.modeName.errors
                                                }">
                                <option value="">Select Operation Mode</option>
                                <option *ngFor="let list of modeList" [ngValue]="list.modeName">
                                    {{ list.modeCode }}
                                </option>
                            </select>
                            <div *ngIf="submitted" class="invalid-feedback">
                                <div *ngIf="
                                    oprModeForm.controls.modeName.errors &&
                                    oprModeForm.controls.modeName.errors.required">
                                    {{
                                        oprModeForm.controls.modeName.errors.required.message
                                    }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Gate :</label>
                            <select class="form-control" formControlName="gateTo" [ngClass]="{
                                                    'is-invalid': submitted && oprModeForm.controls.gateTo.errors
                                                }" (change)="showGateList($event)">
                                <option value="">Select To</option>
                                <option value="ALL">All Gate</option>
                                <option value="MULTI">Specific Gate</option>
                            </select>

                            <div
                                *ngIf="this.oprModeForm.controls.gateTo.errors"
                                class="invalid-feedback"
                            >
                                <div *ngIf="this.oprModeForm.controls.gateTo.errors">
                                    {{ this.oprModeForm.controls.gateTo.errors.required.message }}
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="showconfiguredgatelist">
                            <div class="col-md-6 form-group">
                                <label>Choose Gate :</label>
                                <div class="checkbox checkbox-info"  *ngFor="let item of configuredGateList;  let i = index;">
                                    <input #checkboxes id="checkbox{{i+1}}" type="checkbox"  [value]="item" (change)="onCheckboxChange($event)">
                                    <label for="checkbox{{i+1}}">
                                        {{item}}
                                    </label>
                                </div>
                            
                                <div
                                    *ngIf="this.oprModeForm.controls.assignTo.errors"
                                    class="invalid-feedback"
                                >
                                    <div *ngIf="this.oprModeForm.controls.assignTo.errors">
                                        {{ this.oprModeForm.controls.assignTo.errors.required.message }}
                                    </div>
                                </div>
                            </div>    
                        </ng-container>

                        
                        <div class="col-md-6 form-group">
                            <button type="submit" class="btn btn-info text-center">{{send_btn_text}}</button>
                        </div>
                    </div>  
                </form>
            </div>
            <div class="col-md-6">
                <form [formGroup]="gateConfigForm">
                    <div class="opr-mode-box">
                        <legend>
                            Track Station Gate Configuration:
                        </legend>
                        <div class="col-md-6 form-group">
                            <!-- <label>Select Station :</label> -->
                            <!-- <select class="form-control stnlistselect" formControlName="stationCode" (ngModelChange)="showGateConfig($event)">
                                <option value="">Select Station</option>
                                <option *ngFor="let list of station" [ngValue]="list.stationCode">
                                    {{ list.stationName }}
                                </option>
                            </select> -->
                            <ng-select class="stnlistselect" formControlName="stationCode" (ngModelChange)="showGateConfig($event)">
                                <ng-option value="">Select Station</ng-option>
                                <ng-option *ngFor="let list of station" [value]="list.stationCode">
                                    {{ list.stationName }}
                                </ng-option>
                            </ng-select>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <br><br><br><br>
