<h2 class="text-muted">Central Dashboard</h2>
<hr />
<div class="container-fluid">

    <!-- <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3> {{linecount}} </h3>
                    <p> Lines </p>
                </div>
                <div class="icon">
                    <i class="fa fa-train" aria-hidden="true"></i>
                </div>
                <a [routerLink]="['/admin/linelist']" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-green">
                <div class="inner">
                    <h3> {{stationcount}} </h3>
                    <p> No of Stations </p>
                </div>
                <div class="icon">
                    <i class="fa fa-train" aria-hidden="true"></i>
                </div>
                <a [routerLink]="['/admin/stationlist']" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-red">
                <div class="inner">
                    <h3> {{usercount}} </h3>
                    <p> Users </p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a [routerLink]="['/admin/usermanager-list']" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div> -->

    <div class="row mb-3">
        <div class="col-md-4" [routerLink]="['/admin/transactions']">
          <div class="card cardBg">
            <div class="card-body col-md-12">
                <div class="col-md-1 floatLeft">
                    <i class="fa fa-ticket ticket-icon" aria-hidden="true"></i>
                </div>
                <div class="col-md-10 floatLeft">
                    <h5 class="card-title">
                        Consolidated QR and NCMC Transactions
                    </h5>
                    <p class="card-text count-font-size">
                        {{ generatedTicketCount && generatedTicketCount.totalTransactionCount ? generatedTicketCount.totalTransactionCount : 0 }} 
                    </p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 " [routerLink]="['/admin/transactions']">
            <div class="card cardBg">
              <div class="card-body col-md-12">
                  <div class="col-md-1 floatLeft">
                      <i class="fa fa-qrcode ticket-icon" aria-hidden="true"></i>
                  </div>
                  <div class="col-md-10 floatLeft">
                      <h5 class="card-title">
                          Total QR Transactions
                      </h5>
                      <p class="card-text count-font-size"> 
                        {{ generatedTicketCount && generatedTicketCount.qrTransactionCount ? generatedTicketCount.qrTransactionCount : 0 }} 
                    </p>
                  </div>
              </div>
            </div>
          </div>
        
        <div class="col-md-4" [routerLink]="['/admin/transactions']">
            <div class="card cardBg">
                <div class="card-body col-md-12">
                    <div class="col-md-1 floatLeft">
                        <i class="fa fa-ticket ticket-icon" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10 floatLeft">
                        <h5 class="card-title">
                            Total NCMC Transactions
                        </h5>
                        <p class="card-text count-font-size">
                            {{ generatedTicketCount && generatedTicketCount.ncmcTransactionCount ? generatedTicketCount.ncmcTransactionCount : 0 }} 
                        </p>
                    </div>
                </div>
            </div>
        </div>

       
    </div>

    <!-- Dashboard code start from here -->
    <section class="station-details">
        <legend>
            Line, Zone And Station
        </legend>
        <div class="row" *ngFor="let list of lineZoneStationList">
            <div class="col-md-12 my-2" *ngIf="list['zones'].length>0">
                <label><strong>{{list.lineName}}</strong> : </label>
                <div class="fr_stations">
                    <ul *ngFor="let item of list.zones">

                        <ng-template #stationContent>
                            <span *ngIf="item.station.length>0; else stnNotFound ">
                                <ng-container *ngFor="let stn of item.station; index as i">
                                    <span>
                                        <strong>Station {{i+1}} :</strong> {{ stn.stationName }}
                                        <!-- <br />
                                        Station Code: {{ stn.stationCode }}
                                        <br />
                                        Latitude: {{ stn.latitude }}
                                        <br />
                                        Longitude: {{ stn.longitude }}
                                        <br />
                                        Contact: {{ stn.contactNum }}
                                        <br />
                                        Status: {{ stn.status == 1 ? "Station Active" : stn.status == 2 ? "Station Close" : "Station Deactive" }} -->
                                    </span>
                                    
                                    <hr>
                                </ng-container>
                            </span>

                            <ng-template #stnNotFound>
                                Station Not Found
                            </ng-template>
                            
                            
                        </ng-template>
                        
                        <!-- <a [routerLink]="['/admin/single-station-details',item.stationCode]" >
                            <li [ngClass]="[item.status==0 ? 'de-activated' : '',  item.status==2 ? 'st-closed' : '']" [title]="[item.status==0 ? 'Station Deactive' : '' || item.status==1 ? 'Station Active' : '' || item.status==2 ? 'Station Closed' : '']" [tooltipClass]="" placement="top" [ngbTooltip]="stationContent" delay="500">{{item.stationName}}</li>
                        </a> -->
                        <a>
                            <li [tooltipClass]="" placement="top" [ngbTooltip]="stationContent" delay="500">{{item.zoneName}}</li>
                        </a>
                        
                    </ul>
                </div>
            </div>
           
            
        </div>

    </section>

    <hr />
    <section class="opr-mode">
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="oprModeForm" (ngSubmit)="onFormSubmit()">
                    <div class="opr-mode-box ">
                        <!-- <legend>
                            Choose Gate Operation Mode:
                        </legend>
                        <p></p>
                        <div class="radio radio-info radio-inline" *ngFor="let list of modeList;  let i = index;">
                            <input type="radio" id="inlineRadio{{i+1}}"  formControlName="modeName" [value]="list.modeName">
                            <label for="inlineRadio{{i+1}}">{{list.modeCode}} </label>
                        </div>
                       
                        <div
                            *ngIf="oprModeForm.controls.modeName.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="oprModeForm.controls.modeName.errors">
                                {{ oprModeForm.controls.modeName.errors.required.message }}
                            </div>
                        </div>
                        <p></p> -->
                        <legend>
                            Change Gate Operation Mode:
                        </legend>
                        <div class="col-md-6 form-group">
                            <label>Select Station :</label>
                            <ng-select class="" formControlName="stationCode" [ngClass]="{
                                                    'is-invalid': submitted && oprModeForm.controls.stationCode.errors
                                                }" (ngModelChange)="getconfiguredGateList($event)">
                                <ng-option value="">Select Station</ng-option>
                                <ng-option *ngFor="let list of station" [value]="list.stationCode">
                                    {{ list.stationName }}
                                </ng-option>
                            </ng-select>
                            <div *ngIf="submitted" class="invalid-feedback">
                                <div *ngIf="
                                    oprModeForm.controls.stationCode.errors &&
                                    oprModeForm.controls.stationCode.errors.required">
                                    {{
                                        oprModeForm.controls.stationCode.errors.required.message
                                    }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                           
                            <label>Select Mode :</label>
                            <select class="form-control" formControlName="modeName" [ngClass]="{
                                                    'is-invalid': submitted && oprModeForm.controls.modeName.errors
                                                }">
                                <option value="">Select Operation Mode</option>
                                <option *ngFor="let list of modeList" [ngValue]="list.modeName">
                                    {{ list.modeCode }}
                                </option>
                            </select>
                            <div *ngIf="submitted" class="invalid-feedback">
                                <div *ngIf="
                                    oprModeForm.controls.modeName.errors &&
                                    oprModeForm.controls.modeName.errors.required">
                                    {{
                                        oprModeForm.controls.modeName.errors.required.message
                                    }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Gate :</label>
                            <select class="form-control" formControlName="gateTo" [ngClass]="{
                                                    'is-invalid': submitted && oprModeForm.controls.gateTo.errors
                                                }" (change)="showGateList($event)">
                                <option value="">Select To</option>
                                <option value="ALL">All Gate</option>
                                <option value="MULTI">Specific Gate</option>
                            </select>

                            <div
                                *ngIf="this.oprModeForm.controls.gateTo.errors"
                                class="invalid-feedback"
                            >
                                <div *ngIf="this.oprModeForm.controls.gateTo.errors">
                                    {{ this.oprModeForm.controls.gateTo.errors.required.message }}
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="showconfiguredgatelist">
                            <div class="col-md-6 form-group">
                                <label>Choose Gate :</label>
                                <div class="checkbox checkbox-info"  *ngFor="let item of configuredGateList;  let i = index;">
                                    <input #checkboxes id="checkbox{{i+1}}" type="checkbox"  [value]="item" (change)="onCheckboxChange($event)">
                                    <label for="checkbox{{i+1}}">
                                        {{item}}
                                    </label>
                                </div>
                            
                                <div
                                    *ngIf="this.oprModeForm.controls.assignTo.errors"
                                    class="invalid-feedback"
                                >
                                    <div *ngIf="this.oprModeForm.controls.assignTo.errors">
                                        {{ this.oprModeForm.controls.assignTo.errors.required.message }}
                                    </div>
                                </div>
                            </div>    
                        </ng-container>

                        
                        <div class="col-md-6 form-group">
                            <button type="submit" class="btn bg-button-blue text-center">{{send_btn_text}}</button>
                        </div>
                    </div>  
                </form>
            </div>
            <div class="col-md-6">
                <form [formGroup]="gateConfigForm">
                    <div class="opr-mode-box">
                        <legend>
                            Track Station Gate Configuration:
                        </legend>
                        <div class="col-md-6 form-group">
                            <!-- <label>Select Station :</label> -->
                            <!-- <select class="form-control stnlistselect" formControlName="stationCode" (ngModelChange)="showGateConfig($event)">
                                <option value="">Select Station</option>
                                <option *ngFor="let list of station" [ngValue]="list.stationCode">
                                    {{ list.stationName }}
                                </option>
                            </select> -->
                            <ng-select class="stnlistselect" formControlName="stationCode" (ngModelChange)="showGateConfig($event)">
                                <ng-option value="">Select Station</ng-option>
                                <ng-option *ngFor="let list of station" [value]="list.stationCode">
                                    {{ list.stationName }}
                                </ng-option>
                            </ng-select>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <br><br><br><br>
