<div class="container mt-5 ">
    <!-- <div class="card">
        <div class="card-header">
            <h4 class="pt-2 text-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Media Type
            </h4>
        </div>
    </div> -->
    <div class="card">
        <div class="card-header col-md-12">
            <div class="col-md-8 fltLeft">
                <h4 class="pt-2 headingTextLabel">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Media Type
                </h4>
            </div>
            <div class="col-md-4 fltLeft">
                <span class="fltRight backBtn">
                    <a [routerLink]="['/admin/media-type-list']"> <i class="fa fa-arrow-circle-left"></i> Back</a>
                </span>
            </div>
        </div>
    </div>
    
    <div class="row form-border mt-4">
        <form [formGroup]="addMedia" (ngSubmit)="onFormSubmit()">
            <div class="row row-p10">
                <!-- Media Type Name -->
                <div class="col-md-4 form-group">
                    <label for="mediaTypeName">Media Type Name <span class="required">*</span> </label>
                    <input type="text" formControlName="mediaTypeName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.mediaTypeName.errors}" maxlength="255" />
                    <div *ngIf="submitted && fval.mediaTypeName.errors" class="invalid-feedback">
                        <div *ngIf="fval.mediaTypeName.errors && fval.mediaTypeName.errors.required">
                            {{ fval.mediaTypeName.errors.required.message }}
                        </div>
                        <div *ngIf="fval.mediaTypeName.errors && fval.mediaTypeName.errors.alpha">
                            {{ fval.mediaTypeName.errors.alpha.message }}
                        </div>
                    </div>
                </div>

                <!-- Media Type Code -->
                <div class="col-md-4 form-group">
                    <label for="mediaTypeCode">Media Type Code <span class="required">*</span></label>
                    <input type="text" formControlName="mediaTypeCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.mediaTypeCode.errors}" maxlength="255" />
                    <div *ngIf="submitted && fval.mediaTypeName.errors" class="invalid-feedback">
                        <div *ngIf="fval.mediaTypeCode.errors && fval.mediaTypeCode.errors.required">
                            {{ fval.mediaTypeCode.errors.required.message }}
                        </div>
                    </div>
                </div>

                <!-- Discount -->
                <div class="col-md-4 form-group">
                    <label for="discount">Discount(%) <span class="required">*</span></label>
                    <input type="text" formControlName="discount" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.discount.errors }" maxlength="32"  />
                    <div *ngIf="submitted && fval.discount.errors" class="invalid-feedback">
                        <div *ngIf="fval.discount.errors && fval.discount.errors.required">
                            {{ fval.discount.errors.required.message }}
                        </div>
                        <!-- <div *ngIf="fval.discount.errors && fval.discount.errors.maxLength">
                            {{ fval.discount.errors.maxLength.message }}
                        </div> -->
                        <div *ngIf="fval.discount.errors && fval.discount.errors.numeric">
                            {{ fval.discount.errors.numeric.message }}
                        </div>
                    </div>
                </div>

                 <!-- Ticket Type Ids, can select multiple ticket type -->
                 <!-- <div class="col-md-4 form-group">
                    <label for="ticketTypeIds">Ticket Type</label>
                    <ng-select formControlName="ticketTypeIds"  [ngClass]="{ 'is-invalid': submitted && fval.ticketTypeIds.errors}" [multiple]="true" >
                        <ng-option *ngFor="let item of ticketTypeList" value="{{item.id}}">{{ item.ticketTypeName }}</ng-option>
                    </ng-select>
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="fval.ticketTypeIds.errors && fval.ticketTypeIds.errors.required">
                            {{ fval.ticketTypeIds.errors.required.message }}
                        </div>
                    </div>
                </div> -->
            </div>
            
            <div class=" row clearfix mt-5  col-md-12">
                <div class="col-md-6">
                    <button type="submit" class="fltRight">
                        Submit
                        <span class="fa-class fa fa-paper-plane"></span>
                    </button>
                </div>
                <div class="col-md-6">.
                    <button type="reset" >Reset
                        <span class="fa-class fa fa-undo"></span>
                    </button>
                </div> 
                
            </div>

        </form>
    </div>

</div>