<div class="container">
    <!-- <div class="heading">
        <h2>Station List</h2>

        <hr />
    </div> -->
    <nav aria-label="breadcrumb" class="bdcrm">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item" aria-current="page">Manage Gate Operation Mode</li>
            <li class="breadcrumb-item active" aria-current="page">Change Multiple Gate Operation Mode</li>
        </ol>
    </nav>
    <hr>

    <section class="line-details">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="oprModeForm" (ngSubmit)="onFormSubmit()">
                    <div class="opr-mode-box ">
                        <legend>
                            Choose Gate:
                        </legend>

                        <div class="checkbox checkbox-info"  *ngFor="let item of configuredGateList;  let i = index;">
                            <input  #checkboxes id="checkbox{{i+1}}"  type="checkbox"  [value]="item.gateName" (change)="onCheckboxChange($event)">
                            <label for="checkbox{{i+1}}">
                                {{item.gateName}}
                            </label>
                        </div>
                    
                        <div
                            *ngIf="this.oprModeForm.controls.assignTo.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="this.oprModeForm.controls.assignTo.errors">
                                {{ this.oprModeForm.controls.assignTo.errors.required.message }}
                            </div>
                        </div>

                        <legend>
                            Choose Gate Operation Mode:
                        </legend>
                        <p></p>
                        <div class="radio radio-info radio-inline" *ngFor="let list of modeList;  let i = index;">
                            <input type="radio" id="inlineRadio{{i+1}}"  formControlName="mode" [value]="list.modeName">
                            <label for="inlineRadio{{i+1}}">{{list.modeCode}} </label>
                        </div>
                       
                        <div
                            *ngIf="oprModeForm.controls.mode.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="oprModeForm.controls.mode.errors">
                                {{ oprModeForm.controls.mode.errors.required.message }}
                            </div>
                        </div>
                        
                        <p></p>
                        <div>
                            <button type="submit" class="btn btn-info text-center">SEND TO SPECIFIC GATE</button>
                        </div>
                        <p></p>
                    </div>  
                </form>
            </div>
        </div>
    </section>

    



</div>

