<div class="container"> 
    <h2>Add Station</h2>
    
    <!-- <nav aria-label="breadcrumb" class="bdcrm">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item"><a [routerLink]="['/admin/stationlist']">Station</a> </li>
            <li class="breadcrumb-item active" aria-current="page">Add Station</li>
        </ol>
    </nav> -->
    <hr />
    <div class="row">
        <form [formGroup]="stationForm" (ngSubmit)="onFormSubmit()">
            <div class="row row-p-tb4">

                <!-- Zone -->
                <div class="col-md-4">     
                    <label for="zone" class="required">Zone</label>    
                    <ng-select id="zone" class=" form-vehicle" formControlName="zone" placeholder="Select Zone"
                        [ngClass]="{ 'is-invalid': submitted && fval['zone'].errors }" >
                        <ng-option value="" selected>--Select Zone--</ng-option>
                        <ng-option *ngFor="let zone of zoneList" [value]="zone.id" >{{zone.value}}</ng-option>
                    </ng-select>
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" stationForm.controls.zone.errors && stationForm.controls.zone.errors.required ">
                            {{stationForm.controls.zone.errors.required.message }}
                        </div>
                    </div>
                           
                   
                </div>

                <!-- Station Name -->
                <div class="col-md-4">
                    <label for="stationName" class="required">
                        <b>Station Name</b>
                    </label>
                    <input formControlName="stationName" class="form-control" type="text" [ngClass]="{'is-invalid': submitted && fval.stationName.errors}" maxlength="255" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" stationForm.controls.stationName.errors && stationForm.controls.stationName.errors.required ">
                            {{stationForm.controls.stationName.errors.required.message }}
                        </div>
                        <div *ngIf="stationForm.controls.stationName.errors && stationForm.controls.stationName.errors.alpha">
                            {{ stationForm.controls.stationName.errors.alpha.message }}
                        </div>
                        <div *ngIf="stationForm.controls.stationName.errors && stationForm.controls.stationName.errors.minLength">
                            {{ stationForm.controls.stationName.errors.minLength.message }}
                        </div>
                    </div>
                </div>

                <!-- Station Code -->
                <div class="col-md-4">
                    <label for="stationCode" class="required">
                        <b >Station Code/Short Name</b>
                    </label>
                    <input formControlName="stationCode" class="form-control" type="text" 
                        [ngClass]="{'is-invalid': submitted && fval.stationCode.errors}" maxlength="25" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="stationForm.controls.stationCode.errors && stationForm.controls.stationCode.errors.required">
                            {{ stationForm.controls.stationCode.errors.required.message }}
                        </div>
                        <div *ngIf="stationForm.controls.stationCode.errors && stationForm.controls.stationCode.errors.alpha">
                            {{ stationForm.controls.stationCode.errors.alpha.message }}
                        </div>
                        <div *ngIf="stationForm.controls.stationCode.errors && stationForm.controls.stationCode.errors.minLength">
                            {{ stationForm.controls.stationCode.errors.minLength.message }}
                        </div>
                    </div>
                </div>

                <!-- Station Id -->
                <div class="col-md-4">
                    <label for="stationId" class="required">
                        <b >Station Id</b>
                    </label>
                    <input formControlName="stationId" class="form-control" type="text" 
                        [ngClass]="{'is-invalid': submitted && fval.stationId.errors}" maxlength="25" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="stationForm.controls.stationId.errors && stationForm.controls.stationId.errors.required">
                            {{ stationForm.controls.stationId.errors.required.message }}
                        </div>
                        <!-- <div *ngIf="stationForm.controls.stationId.errors && stationForm.controls.stationId.errors.alpha">
                            {{ stationForm.controls.stationId.errors.alpha.message }}
                        </div>
                        <div *ngIf="stationForm.controls.stationId.errors && stationForm.controls.stationId.errors.minLength">
                            {{ stationForm.controls.stationId.errors.minLength.message }}
                        </div> -->
                    </div>
                </div>
             
                <!-- Contact Number -->
                <div class="col-md-4">
                    <label for="contactNum" class="required">
                        <b>Contact Number</b>
                    </label>
                    <input formControlName="contactNum" class="form-control" type="text" [ngClass]="{
                            'is-invalid': submitted && fval.contactNum.errors
                        }" maxlength="10" />
                    <div *ngIf="submitted && fval.contactNum.errors" class="invalid-feedback">
                        <div *ngIf="
                                stationForm.controls.contactNum.errors &&
                                stationForm.controls.contactNum.errors.required
                            ">
                            {{
                            stationForm.controls.contactNum.errors.required
                            .message
                            }}
                        </div>
                        <div *ngIf="
                                stationForm.controls.contactNum.errors &&
                                stationForm.controls.contactNum.errors.onlyDigit
                            ">
                            {{
                            stationForm.controls.contactNum.errors.onlyDigit
                            .message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Latitude -->
                <div class="col-md-4">
                    <label for="latitude" class="required">
                        <b>Latitude</b>
                    </label>
                    <input formControlName="latitude" class="form-control" type="text" [ngClass]="{
                            'is-invalid':
                                submitted && fval.latitude.errors
                        }" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="
                                stationForm.controls.latitude.errors &&
                                stationForm.controls.latitude.errors
                                    .required
                            ">
                            {{
                            stationForm.controls.latitude.errors
                            .required.message
                            }}
                        </div>
                        <div *ngIf="
                                stationForm.controls.latitude.errors &&
                                stationForm.controls.latitude.errors
                                    .latitude
                            ">
                            {{
                            stationForm.controls.latitude.errors
                            .latitude.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Longitude -->
                <div class="col-md-4">
                    <label for="stationCode" class="required">
                        <b>Longitude</b>
                    </label>
                    <input formControlName="longitude" class="form-control" type="text" [ngClass]="{
                            'is-invalid':
                                submitted && fval.longitude.errors
                        }" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="
                                stationForm.controls.longitude.errors &&
                                stationForm.controls.longitude.errors
                                    .required
                            ">
                            {{
                            stationForm.controls.longitude.errors
                            .required.message
                            }}
                        </div>
                        <div *ngIf="
                                stationForm.controls.longitude.errors &&
                                stationForm.controls.longitude.errors
                                    .longitude
                            ">
                            {{
                            stationForm.controls.longitude.errors
                            .longitude.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Address -->
                <div class="col-md-4">
                    <label for="address" class="required">
                        <b>Address</b>
                    </label>
                    <input formControlName="address" class="form-control" type="text" [ngClass]="{
                            'is-invalid': submitted && fval.address.errors
                        }" />
                    <div *ngIf="submitted && fval.address.errors" class="invalid-feedback">
                        <div *ngIf="
                                stationForm.controls.address.errors &&
                                stationForm.controls.address.errors.required
                            ">
                            {{
                            stationForm.controls.address.errors.required
                            .message
                            }}
                        </div>

                    </div>
                </div>

            </div>

            <!-- Submit buttons -->
            <div class="clearfix col-md-12 btn-set">
                <button type="submit" class="btn-sub my-5">
                    Add
                    <span class="fa-class fa fa-paper-plane"></span>
                </button>
                <button type="reset" class="btn-sub my-5">
                    Reset
                    <span class="fa-class fa fa-redo"></span>
                </button>

            </div>
            <br>
        </form>
    </div>
</div>