<div class="container mt-5 mb-5 formBg"> 
    <!-- <h2>Add Station</h2>
    <hr /> -->
    <!-- <nav aria-label="breadcrumb" class="bdcrm">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item"><a [routerLink]="['/admin/stationlist']">Station</a> </li>
            <li class="breadcrumb-item active" aria-current="page">Add Station</li>
        </ol>
    </nav> -->
    
    <div class="card">
        <div class="card-header col-md-12">
            <div class="col-md-8 fltLeft">
                <h4 class="pt-2 headingTextLabel">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add Station
                </h4>
            </div>
            <div class="col-md-4 fltLeft">
                <span class="fltRight backBtn">
                    <a [routerLink]="['/admin/stationlist']"> <i class="fa fa-arrow-circle-left"></i> Back</a>
                </span>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <form [formGroup]="stationForm" (ngSubmit)="onFormSubmit()">
            <div class="row row-p-tb4">

                <!-- Zone -->
                <div class="col-md-4">     
                    <label for="zone" class="required">Zone</label>    
                    <ng-select id="zone" class=" form-vehicle" formControlName="zoneId" placeholder="Select Zone"
                        [ngClass]="{ 'is-invalid': submitted && fval['zoneId'].errors }" >
                        <ng-option value="" selected>--Select Zone--</ng-option>
                        <ng-option *ngFor="let zone of zoneList" [value]="zone.id" >{{zone.zoneName}}</ng-option>
                    </ng-select>
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.zoneId.errors && fval.zoneId.errors.required ">
                            {{fval.zoneId.errors.required.message }}
                        </div>
                    </div>
                </div>

                <!-- Station Name -->
                <div class="col-md-4">
                    <label for="stationName" class="required">
                        <b>Station Name</b>
                    </label>
                    <input formControlName="stationName" class="form-control" type="text" [ngClass]="{'is-invalid': submitted && fval.stationName.errors}" maxlength="255" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.stationName.errors && fval.stationName.errors.required ">
                            {{fval.stationName.errors.required.message }}
                        </div>
                        <div *ngIf="fval.stationName.errors && fval.stationName.errors.alpha">
                            {{ fval.stationName.errors.alpha.message }}
                        </div>
                        <div *ngIf="fval.stationName.errors && fval.stationName.errors.minLength">
                            {{ fval.stationName.errors.minLength.message }}
                        </div>
                    </div>
                </div>

                <!-- Station Code -->
                <div class="col-md-4">
                    <label for="stationCode" class="required">
                        <b >Station Code/Short Name</b>
                    </label>
                    <input formControlName="stationCode" class="form-control" type="text" 
                        [ngClass]="{'is-invalid': submitted && fval.stationCode.errors}" maxlength="30" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="fval.stationCode.errors && fval.stationCode.errors.required">
                            {{ fval.stationCode.errors.required.message }}
                        </div>
                        <div *ngIf="fval.stationCode.errors && fval.stationCode.errors.alpha">
                            {{ fval.stationCode.errors.alpha.message }}
                        </div>
                        <div *ngIf="fval.stationCode.errors && fval.stationCode.errors.minLength">
                            {{ fval.stationCode.errors.minLength.message }}
                        </div>
                    </div>
                </div>

                 <!-- Station ID -->
                 <!-- <div class="col-md-4">
                    <label for="stationId" class="required">
                        <b >Station ID</b>
                    </label>
                    <input formControlName="stationId" class="form-control" type="text" 
                        [ngClass]="{'is-invalid': submitted && fval.stationId.errors}" maxlength="25" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="fval.stationId.errors && fval.stationId.errors.required">
                            {{ fval.stationId.errors.required.message }}
                        </div>
                    </div>
                </div> -->
             
                <!-- Contact Number -->
                <div class="col-md-4">
                    <label for="contactNum" class="required">
                        <b>Contact Number</b>
                    </label>
                    <input formControlName="contactNum" class="form-control" type="text" [ngClass]="{
                            'is-invalid': submitted && fval.contactNum.errors
                        }" maxlength="10" />
                    <div *ngIf="submitted && fval.contactNum.errors" class="invalid-feedback">
                        <div *ngIf="
                                fval.contactNum.errors &&
                                fval.contactNum.errors.required
                            ">
                            {{
                            fval.contactNum.errors.required
                            .message
                            }}
                        </div>
                        <div *ngIf="
                                fval.contactNum.errors &&
                                fval.contactNum.errors.onlyDigit
                            ">
                            {{
                            fval.contactNum.errors.onlyDigit
                            .message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Latitude -->
                <div class="col-md-4">
                    <label for="latitude" class="required">
                        <b>Latitude</b>
                    </label>
                    <input formControlName="latitude" class="form-control" type="text" [ngClass]="{
                            'is-invalid':
                                submitted && fval.latitude.errors
                        }" maxlength="30" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="
                                fval.latitude.errors &&
                                fval.latitude.errors
                                    .required
                            ">
                            {{
                            fval.latitude.errors
                            .required.message
                            }}
                        </div>
                        <div *ngIf="
                                fval.latitude.errors &&
                                fval.latitude.errors
                                    .latitude
                            ">
                            {{
                            fval.latitude.errors
                            .latitude.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Longitude -->
                <div class="col-md-4">
                    <label for="stationCode" class="required">
                        <b>Longitude</b>
                    </label>
                    <input formControlName="longitude" class="form-control" type="text" [ngClass]="{
                            'is-invalid':
                                submitted && fval.longitude.errors
                        }" maxlength="30" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="
                                fval.longitude.errors &&
                                fval.longitude.errors
                                    .required
                            ">
                            {{
                            fval.longitude.errors
                            .required.message
                            }}
                        </div>
                        <div *ngIf="
                                fval.longitude.errors &&
                                fval.longitude.errors
                                    .longitude
                            ">
                            {{
                            fval.longitude.errors
                            .longitude.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Address -->
                <div class="col-md-4">
                    <label for="address" class="required">
                        <b>Address</b>
                    </label>
                    <textarea 
                        formControlName="address" 
                        class="form-control" 
                        [ngClass]="{
                            'is-invalid': submitted && fval.address.errors
                        }" 
                        maxlength="255"
                    >
                    </textarea>
                    <div *ngIf="submitted && fval.address.errors" class="invalid-feedback">
                        <div *ngIf="
                               fval.address.errors &&
                               fval.address.errors.required
                            ">
                            {{
                           fval.address.errors.required
                            .message
                            }}
                        </div>

                    </div>
                </div>

            </div>

            <!-- Submit buttons -->
            <div class="clearfix col-md-12 btn-set">
                <button type="submit" class="btn-sub my-5">
                    Add
                    <span class="fa-class fa fa-paper-plane"></span>
                </button>
                <button type="reset" class="btn-sub my-5">
                    Reset
                    <span class="fa-class fa fa-redo"></span>
                </button>

            </div>
            <br>
        </form>
    </div>
</div>