<nav aria-label="breadcrumb" class="bdcrm">
    <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a [routerLink]="['/admin/schedule-file-update-list']" >Schedule File Upload</a> </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>
<hr>

<div class="table-responsive table-set">
    <!-- datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger" -->
    <table
        class="table-res row-border hover table-head"
        id="dataTable"
        datatable=""
        dt-options="dtOptions"
        dt-columns="dtColumns"
        class="display nowrap table"
        cellspacing="0"
        width="100%"
        *ngIf="this.temp"
    >
        <thead>
            <tr class="text-center">
                <th id="hide-id">ID</th>
                <th>Schedule Date</th>
                <th>Schedule Time</th>
                <th>File Name</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor='let item of joblist'>
                <td id="hide-id">
                    <b></b>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a
                        href="javascript:;"
                        [routerLink]="['/admin/edit-line/', item.id]"
                    >
                        <i
                            class="fa fa-edit"
                            style="font-size: 34px; color: #00efd1"
                        ></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
