.table-bordered th, .table-bordered td 
{
  border: 0px solid #dee2e6; 
}
table tr 
{
  text-align: center;
}

.table th, .table td {
  // padding:7px 5px !important;
  padding: 7px 22px !important;
  vertical-align: middle!important;
  border-top: 1px solid #dee2e6;
  font-size: 12px!important;  
}

// .table th{
//   color: #fff!important;
// }

thead
{
  background: #31235e;
  color: #fff;
}
.heading
{
  // padding:35px 20px 20px 20px;
  border-bottom: 2px solid #2a1c5a;
}
.equip-dtable{

  padding: 35px 20px!important;
  font-size: 15px !important;
  background: #ece6ff!important;
}
.editBtn {
  font-size:12px;
  padding:5px!important;
  width: 64px;
  color: #000;    
  background-color: #f0ad4e;
  border-color: #eea236;
}
// .equip-dtable .btn
// {
//  font-size:12px;
//  padding:5px!important;
//  background-color: #2a1c5a!important;
//  border-color: #2a1c5a!important;
// }

table.dataTable thead .sorting_asc
{
    background: none!important;
}
table.dataTable thead .sorting
{
    background: none!important;
}

/*code by Badal*/

.bdcrm {
  margin: 25px 0 0 0;
}

hr {
  border: 0;
  height: 5px;
  background: linear-gradient(
      to right,
      #00004d,
      #00004d,
      // rgb(185 171 171 / 0%)
  );
}
//end