<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-fussion" [fullScreen]="true">
    <p style="color: white">Loading...</p>
</ngx-spinner>

<nav aria-label="breadcrumb" class="bdcrm mt-2" >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/user-manager/dashboard']" >Dashboard</a></li>
        <li class="breadcrumb-item" aria-current="page">Update User</li>
    </ol>
</nav>

<div class="card card-outline-secondary shadow-lg p-3 mb-5 bg-white rounded">
    <!-- <div class="card-header hdr-set">
        <h3 class="mb-0">Update User</h3>
    </div> -->
    <form [formGroup]="updateUser" (ngSubmit)="onSubmit()">
        <div class="card-body">
            <div class="row mt-4">
                <div class="form-group col-sm-4 pb-3">
                    <label id="bottomLine"><strong>Name</strong><span class="mandatory">*</span></label>
                    <input type="text" class="form-control" formControlName="name"  placeholder="Enter Name" [ngClass]="{'is-invalid': submitted && fval.name.errors }" >
                    <div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
                        <div *ngIf="updateUser.controls.name.errors && updateUser.controls.name.errors.required">
                            {{ updateUser.controls.name.errors.required.message }}
                        </div>
                        <div *ngIf=" updateUser.controls.name.errors &&  updateUser.controls.name.errors.alpha" >
                            {{ updateUser.controls.name.errors.alpha.message }}
                        </div>
                    </div>
                </div> 

                <div class="form-group col-sm-4 pb-3">
                    <label id="bottomLine"><strong>Email</strong><span class="mandatory">*</span></label>
                    <input type="text" class="form-control" formControlName="email"  placeholder="Enter Email" [ngClass]="{'is-invalid': submitted && fval.email.errors }">
                    <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                        <div *ngIf="updateUser.controls.email.errors &&  updateUser.controls.email.errors.required ">
                            {{ updateUser.controls.email.errors.required.message }}
                        </div>
                        <div *ngIf=" updateUser.controls.email.errors && updateUser.controls.email.errors.email " >
                            {{ updateUser.controls.email.errors.email.message }}
                        </div>
                    </div>
                </div>
                
                <div class="form-group col-sm-4 pb-3">
                    <label id="bottomLine"><strong>Username</strong><span class="mandatory">*</span></label>
                    <input readonly type="text" class="form-control" formControlName="username"  placeholder="Enter Username" [ngClass]="{'is-invalid': submitted && fval.username.errors }">
                    <div *ngIf="submitted && fval.username.errors" class="invalid-feedback">
                        <div *ngIf="updateUser.controls.username.errors &&  updateUser.controls.username.errors.required ">
                            {{ updateUser.controls.username.errors.required.message }}
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-4 pb-3">
                    <label id="bottomLine"><strong>Employee ID</strong><span class="mandatory">*</span></label>
                    <input type="text" class="form-control" formControlName="empId"   placeholder="Enter Employee Id" [ngClass]="{'is-invalid': submitted && fval.empId.errors }">
                    <div *ngIf="submitted && fval.empId.errors" class="invalid-feedback">
                        <div *ngIf="updateUser.controls.empId.errors &&  updateUser.controls.empId.errors.required ">
                            {{ updateUser.controls.empId.errors.required.message }}
                        </div>
                        <div *ngIf="updateUser.controls.empId.errors && updateUser.controls.empId.errors.numeric">
                            {{ updateUser.controls.empId.errors.numeric.message }}
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-4 pb-3">
                    <label id="bottomLine"><strong>Mobile Number</strong><span class="mandatory">*</span></label>
                    <input type="text" class="form-control" formControlName="mobileNumber"   placeholder="Enter Mobile Number" [ngClass]="{'is-invalid': submitted && fval.mobileNumber.errors }" maxlength="10">
                    <div *ngIf="submitted && fval.mobileNumber.errors" class="invalid-feedback">
                        <div *ngIf="updateUser.controls.mobileNumber.errors &&  updateUser.controls.mobileNumber.errors.required ">
                            {{ updateUser.controls.mobileNumber.errors.required.message }}
                        </div>
                        <div *ngIf=" updateUser.controls.mobileNumber.errors && updateUser.controls.mobileNumber.errors.onlyDigit" >
                            {{ updateUser.controls.mobileNumber.errors.onlyDigit.message }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 pb-3">
                        <label id="bottomLine"><strong>Role</strong><span class="mandatory">*</span></label>
                        <div *ngFor="let role of roleList" > 
                            <input   type="checkbox" [value]="role.roleCode" class="checkmark" [checked]="rolesArray.indexOf(role.roleCode) != -1"  
                                    (change)="onChange($event)" /> 
                            <span class="roleText">{{role.roleName}}</span>
                        </div>
                        <div *ngIf="roleError" class="text-danger errFont">
                            Select Atleast One Role!
                        </div>
                    </div>

                     <!-- hiding station -->
                    <div *ngIf="showStationCode" class="col-sm-4 pb-3">
                        <label><strong>Station Name</strong><span class="mandatory">*</span></label>
                        <select class="form-control" formControlName="stationCode" [ngClass]="{ 'is-invalid': submitted && fval.stationCode.errors }" >
                            
                            <option *ngFor="let station of stationList"  [ngValue]="station.stationCode"  >
                                {{ station.stationName }}
                            </option>
                        </select>
                        
                        <div *ngIf="emptyStationError" class="text-danger errFont">
                            This field is required!
                        </div>
                    </div>
                </div>

               
            </div>

            <div class="row justify-content-center">
                <!-- <div class="col-3 pb-3">
                    <button class="btn btn-outline-primary mt-1">
                        <i class="fa fa-paper-plane"></i>
                        Update
                    </button>
                </div>
                <div class="col-3 pb-3">
                    <button type="reset" class="btn btn-outline-danger mt-1 pull-left" (click)="cancel()">
                        <i class="fas fa-close"></i>
                        Cancel
                    </button>
                </div> -->

                 <!-- Submit Buttons -->
            <div class="row justify-content-center">
                <div class="clearfix col-md-12 btn-set">
                   <button type="submit">
                    Update
                       <span class="fa-class fa fa-refresh"></span>
                   </button>
                   <button type="reset" (click)="cancel()">
                    Cancel
                       <span class="fa-class fa fa-close"></span>
                   </button>
               </div>
           </div>
            </div>
        </div>
    </form>
</div>