.col-3 {
    flex: 0 0 0;
}
.hdr-set {
    margin: 20px 0;;
    color: #ca7308e8;
}

// .form-control {
// 	border-radius: 0;
// 	border-color: #ccc;
//    	border-width: 0 0 2px 0;
//    	border-style: none none solid none;
//    	box-shadow: none;
// }
// .form-control:focus {
// 	box-shadow: none;
// 	border-color: #5e9bfc;
// }

.checkmark{
    height: 18px;
    width: 18px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 3px;
}

#line{
    border-top:3px solid #ca7308e8;
}

// #bottomLine{
//     border-bottom:3px solid #ca7308e8;
// }

.errFont{
    font-size: 13px;
}

.mandatory{
    color: red;
    font-size: 20px;
    margin-left: 5px;
}