<ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="ball-fussion"
    [fullScreen]="true"
    ><p style="color: white">Loading...</p></ngx-spinner
>

<nav aria-label="breadcrumb" class="bdcrm">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/equipment/inventoryList']">Non Assigned Equipment List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Update Non-Assigned Equipment List</li>
    </ol>
</nav>


<div class="card card-outline-secondary mt-2">
    <!-- (ngSubmit)="onUpdate()" -->
    <form [formGroup]="updateEquipmentForm" >
        <div class="card-body">
            <div class="row mt-4">

                <!-- Equipment Type -->
                <div class="col-sm-4 pb-3">
                    <label class="required">Equipment Type</label>
                    <select
                        class="form-control"
                        formControlName="equipmentTypeId"
                        [ngClass]="{
                            'is-invalid':
                                submitted && fval.equipmentTypeId.errors
                        }"
                    >
                        <option value="">Select equipment Type</option>
                        <option
                            *ngFor="let equipment of equipmentTypeList"
                            [ngValue]="equipment.equipmentTypeId"
                        >
                            {{ equipment.equipmentTypeName }}
                        </option>
                    </select>
                    <div
                        *ngIf="submitted && fval.equipmentTypeId.errors"
                        class="invalid-feedback"
                    >
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.equipmentTypeId
                                    .errors
                            "
                        >
                            {{
                                updateEquipmentForm.controls.equipmentTypeId
                                    .errors.required.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Manufacture Name -->
                <div class="col-sm-4 pb-3">
                    <label for="" class="required">Manufacture Name</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="manufactureName"
                        placeholder="Enter manufacture name"
                        [ngClass]="{
                            'is-invalid':
                                submitted && fval.manufactureName.errors
                        }"
                    />
                    <div
                        *ngIf="submitted && fval.manufactureName.errors"
                        class="invalid-feedback"
                    >
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.manufactureName
                                    .errors &&
                                updateEquipmentForm.controls.manufactureName
                                    .errors.required
                            "
                        >
                            {{
                                updateEquipmentForm.controls.manufactureName
                                    .errors.required.message
                            }}
                        </div>
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.manufactureName
                                    .errors &&
                                updateEquipmentForm.controls.manufactureName
                                    .errors.alpha
                            "
                        >
                            {{
                                updateEquipmentForm.controls.manufactureName
                                    .errors.alpha.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Serial Number -->
                <div class="col-sm-4 pb-3">
                    <label for="serialNo" class="required">Serial Number</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="serialNumber"
                        placeholder="Enter serial number"
                        [ngClass]="{
                            'is-invalid': submitted && fval.serialNumber.errors
                        }"
                        maxlength="10"
                        style="text-transform: uppercase"
                    />
                    <div
                        *ngIf="submitted && fval.serialNumber.errors"
                        class="invalid-feedback"
                    >
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.serialNumber
                                    .errors &&
                                updateEquipmentForm.controls.serialNumber.errors
                                    .required
                            "
                        >
                            {{
                                updateEquipmentForm.controls.serialNumber.errors
                                    .required.message
                            }}
                        </div>
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.serialNumber
                                    .errors &&
                                updateEquipmentForm.controls.serialNumber.errors
                                    .alphaNumeric
                            "
                        >
                            {{
                                updateEquipmentForm.controls.serialNumber.errors
                                    .alphaNumeric.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Equipment Code -->
                <div class="col-sm-4 pb-3">
                    <label class="required">Equipment Code</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="equipmentCode"
                        placeholder="Enter equipment code"
                        maxlength="20"
                        [ngClass]="{
                            'is-invalid': submitted && fval.equipmentCode.errors
                        }"
                    />
                    <div
                        *ngIf="submitted && fval.equipmentCode.errors"
                        class="invalid-feedback"
                    >
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.equipmentCode
                                    .errors &&
                                updateEquipmentForm.controls.equipmentCode
                                    .errors.required
                            "
                        >
                            {{
                                updateEquipmentForm.controls.equipmentCode
                                    .errors.required.message
                            }}
                        </div>
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.equipmentCode
                                    .errors &&
                                updateEquipmentForm.controls.equipmentCode
                                    .errors.alpha
                            "
                        >
                            {{
                                updateEquipmentForm.controls.equipmentCode
                                    .errors.alpha.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Product version -->
                <div class="col-sm-4 pb-3">
                    <label class="required">Product version</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="version"
                        placeholder="Enter product version"
                        [ngClass]="{
                            'is-invalid': submitted && fval.version.errors
                        }"
                    />
                    <div
                        *ngIf="submitted && fval.version.errors"
                        class="invalid-feedback"
                    >
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.version.errors &&
                                updateEquipmentForm.controls.version.errors
                                    .required
                            "
                        >
                            {{
                                updateEquipmentForm.controls.version.errors
                                    .required.message
                            }}
                        </div>
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.version.errors &&
                                updateEquipmentForm.controls.version.errors
                                    .numeric
                            "
                        >
                            {{
                                updateEquipmentForm.controls.version.errors
                                    .numeric.message
                            }}
                        </div>
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.version.errors &&
                                updateEquipmentForm.controls.version.errors
                                    .nonZero
                            "
                        >
                            {{
                                updateEquipmentForm.controls.version.errors
                                    .nonZero.message
                            }}
                        </div>
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.version.errors &&
                                updateEquipmentForm.controls.version.errors.deci
                            "
                        >
                            {{
                                updateEquipmentForm.controls.version.errors.deci
                                    .message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Equipment Model Name -->
                <div class="col-sm-4 pb-3">
                    <label class="required">Equipment Model Name</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="equipmentModelName"
                        placeholder="Enter model name"
                        maxlength="20"
                        [ngClass]="{
                            'is-invalid':
                                submitted && fval.equipmentModelName.errors
                        }"
                    />
                    <div
                        *ngIf="submitted && fval.equipmentModelName.errors"
                        class="invalid-feedback"
                    >
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.equipmentModelName
                                    .errors &&
                                updateEquipmentForm.controls.equipmentModelName
                                    .errors.required
                            "
                        >
                            {{
                                updateEquipmentForm.controls.equipmentModelName
                                    .errors.required.message
                            }}
                        </div>
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.equipmentModelName
                                    .errors &&
                                updateEquipmentForm.controls.equipmentModelName
                                    .errors.special
                            "
                        >
                            {{
                                updateEquipmentForm.controls.equipmentModelName
                                    .errors.special.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Manufacturing Date -->
                <div class="col-sm-4 pb-3">
                    <label class="required">Manufacturing Date</label>
                    <input
                        readonly
                        type="text"
                        formControlName="mfgDate"
                        placeholder="Select Manufacturing date"
                        class="form-control "
                        bsDatepicker
                        [outsideClick]="true"
                        [bsConfig]="datePickerConfigMfg"
                        [ngClass]="{
                            'is-invalid': submitted && fval.mfgDate.errors
                        }"
                        (bsValueChange)="onManufacturingDateDateChange($event)"
                        (onHidden)="handler('onHidden')"
                    />
                    <div
                        *ngIf="submitted && fval.mfgDate.errors"
                        class="invalid-feedback"
                    >
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.mfgDate.errors &&
                                updateEquipmentForm.controls.mfgDate.errors
                                    .required
                            "
                        >
                            {{
                                updateEquipmentForm.controls.mfgDate.errors
                                    .required.message
                            }}
                        </div>
                        
                    </div>
                </div>

                <!-- Purchase Date -->
                <div class="col-sm-4 pb-3">
                    <label class="required">Purchase Date</label>
                    <input
                        readonly
                        type="text"
                        bsDatepicker
                        formControlName="purchaseDate"
                        placeholder="Select purchase date"
                        class="form-control "
                        [outsideClick]="true"
                        [bsConfig]="datePickerConfigPur"
                        [ngClass]="{
                            'is-invalid': submitted && fval.purchaseDate.errors
                        }"
                        (bsValueChange)="onPurchaseDateChange($event)"
                    />
                    <div
                        *ngIf="submitted && fval.purchaseDate.errors"
                        class="invalid-feedback"
                    >
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.purchaseDate
                                    .errors &&
                                updateEquipmentForm.controls.purchaseDate.errors
                                    .required
                            "
                        >
                            {{
                                updateEquipmentForm.controls.purchaseDate.errors
                                    .required.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Warranty -->
                <div class="col-sm-4 pb-3">
                    <label class="required">Warranty</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Enter warrenty in year"
                        formControlName="warranty"
                        maxlength="2"
                        [ngClass]="{
                            'is-invalid': submitted && fval.warranty.errors
                        }"
                    />
                    <div
                        *ngIf="submitted && fval.warranty.errors"
                        class="invalid-feedback"
                    >
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.warranty.errors &&
                                updateEquipmentForm.controls.warranty.errors
                                    .required
                            "
                        >
                            {{
                                updateEquipmentForm.controls.warranty.errors
                                    .required.message
                            }}
                        </div>
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.warranty.errors &&
                                updateEquipmentForm.controls.warranty.errors
                                    .notZero
                            "
                        >
                            {{
                                updateEquipmentForm.controls.warranty.errors
                                    .notZero.message
                            }}
                        </div>
                        <div
                            *ngIf="
                                updateEquipmentForm.controls.warranty.errors &&
                                updateEquipmentForm.controls.warranty.errors
                                    .digit
                            "
                        >
                            {{
                                updateEquipmentForm.controls.warranty.errors
                                    .digit.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- App version -->
                <div class="col-sm-4 pb-3">
                    <label class="required">App Version</label>
                    <input type="text" class="form-control" formControlName="appVersion" placeholder="Enter app version"
                        [ngClass]="{'is-invalid': submitted && fval.appVersion.errors}" maxlength="5" />
                    <div *ngIf="submitted && fval.appVersion.errors" class="invalid-feedback" >
                        <div *ngIf="  updateEquipmentForm.controls.appVersion.errors && updateEquipmentForm.controls.appVersion.errors.required ">
                            {{ updateEquipmentForm.controls.appVersion.errors.required.message }}
                        </div>
                        <div *ngIf=" updateEquipmentForm.controls.appVersion.errors && updateEquipmentForm.controls.appVersion.errors.numeric ">
                            {{ updateEquipmentForm.controls.appVersion.errors.numeric.message }}
                        </div>
                        <div *ngIf=" updateEquipmentForm.controls.appVersion.errors && updateEquipmentForm.controls.appVersion.errors.nonZero">
                            {{ updateEquipmentForm.controls.appVersion.errors.nonZero.message }}
                        </div>
                        <div *ngIf=" updateEquipmentForm.controls.appVersion.errors && updateEquipmentForm.controls.appVersion.errors.deci">
                            {{ updateEquipmentForm.controls.appVersion.errors.deci.message }}
                        </div>
                    </div>
                </div>

                <!-- Warranty Start Date -->
                <div class="col-sm-4 pb-3">
                    <label for="warrantyStartDate" class="required">Warranty Start Date</label>
                    <input readonly type="text"
                        bsDatepicker
                        formControlName="warrantyStartDate"
                        placeholder="Select warranty start date"
                        class="form-control"
                        [outsideClick]="true"
                        [bsConfig]="datePickerConfigWarrantyStartDate"
                        (bsValueChange)="onWarrantyStartDateChange($event)"
                        [ngClass]="{'is-invalid': submitted && fval.warrantyStartDate.errors }"
                    />
                    <div *ngIf="submitted && fval.warrantyStartDate.errors" class="invalid-feedback">
                        <div *ngIf=" updateEquipmentForm.controls.warrantyStartDate.errors && updateEquipmentForm.controls.warrantyStartDate.errors.required ">
                            {{ updateEquipmentForm.controls.warrantyStartDate.errors.required.message }}
                        </div>
                    </div>
                </div>

                <!-- Warranty End Date -->
                <div class="col-sm-4 pb-3">
                    <label for="warrantyEndDate" class="required">Warranty End Date</label>
                    <input readonly type="text"
                        bsDatepicker
                        formControlName="warrantyEndDate"
                        placeholder="Select warranty end date"
                        class="form-control"
                        [outsideClick]="true"
                        [bsConfig]="datePickerConfigWarrantyEndDate"
                        [ngClass]="{'is-invalid': submitted && fval.warrantyEndDate.errors }"
                        (bsValueChange)="onWarrantyEndDateChange($event)"
                    />
                    <div *ngIf="submitted && fval.warrantyEndDate.errors" class="invalid-feedback">
                        <div *ngIf=" updateEquipmentForm.controls.warrantyEndDate.errors && updateEquipmentForm.controls.warrantyEndDate.errors.required ">
                            {{ updateEquipmentForm.controls.warrantyEndDate.errors.required.message }}
                        </div>
                    </div>
                </div>

                <!-- Device Description -->
                <div class="col-sm-4 pb-3">
                    <label for="deviceDescription" class="required">Device Description</label>
                    <input type="text" class="form-control" formControlName="deviceDescription" placeholder="Enter manufacture name"  
                    [ngClass]="{ 'is-invalid': submitted && fval.deviceDescription.errors }" maxlength="255" />
                    <div *ngIf="submitted && fval.deviceDescription.errors" class="invalid-feedback" >
                        <div *ngIf="updateEquipmentForm.controls.deviceDescription.errors && updateEquipmentForm.controls.deviceDescription.errors.required" >
                            {{ updateEquipmentForm.controls.deviceDescription.errors.required.message  }}
                        </div>
                    </div> 
                </div>


                <div class="submitButton mt-4 form-group mb-5">
                    <button class="btn btn-primary mt-1 ml-3" (click)="checkDates(updateTemplate)" >
                        <i class="fa fa-paper-plane"></i>
                        Update
                    </button>

                    <button class="btn btn-danger mt-1 ml-3" [routerLink]="['/equipment/inventoryList']" >
                        <i class="fa fa-close"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<ng-template #updateTemplate>
    <div class="modal-body text-center">
        <p>Do you want to update?</p>
        <button type="button" class="btn btn-primary pull-left" (click)="confirm()">
            <i class="fa fa-paper-plane"></i>
            Update
        </button>
        <button type="button" class="btn btn-danger pull-right" (click)="decline()">
            <i class="fa fa-close"></i>
            Cancel
        </button>
    </div>
</ng-template>
