<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/images/Alert-High.png" class="high-alert">
            <span style="color: red; font-size: 20px;">
                Emergency Alert
            </span>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/images/Alert-Low.png" class="low-alert">
            <span style="font-size: 20px;">
                Maintenance Mode
            </span>
        </div>
    </div>
</div>

