<div class="heading text-center">
    <h2>Alarm Report</h2>
</div>
<hr>
<div class="alarm-dtable">

    <!-- [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
    <table class="table table-striped table-bordered table-responsive table-sm row-border hover" datatable> 
        <thead>
           
            <tr>
                <th style="width:10%">Token</th>
                <th style="width:20%">Device Id </th>
                <th style="width:10%">Equipment Type</th>
                <th style="width:10%">Error Code</th>
                <th style="width:10%">SubError Code</th>
                <th style="width:15%">Message Generation Date/time</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of statustext$ | async; let i = index" [attr.data-index]="i">

                <td>{{item && item.token?item.token:'NA'}}</td>
                <td>{{item && item.deviceId?item.deviceId:'NA'}}</td>
                <td>{{item && item.eqpType?item.eqpType:'NA'}}</td>
                <td>{{item && item.errorCode?item.errorCode:'NA'}}</td>
                <td>{{item && item.subErrorCode?item.subErrorCode:'NA'}}</td>
                <td>{{item && item.msgGenerationDatetime?item.msgGenerationDatetime:'NA'}}</td>

            </tr>


        </tbody>

    </table>
</div>