


.checkmark{
    height: 18px;
    width: 18px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 3px;
}

#line{
    border-top:3px solid #ca7308e8;
}

.errFont{
    font-size: 13px;
}

.mandatory{
    color: red;
    font-size: 20px;
    margin-left: 5px;
}

.bdcrm{
    margin: 15px 17px 0 17px;
}

.size{
    width: 125px;
}