<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-fussion" [fullScreen]="true">
    <p style="color: white">Loading...</p>
</ngx-spinner>


<div class="card m-3 p-3  p-3 mb-5 bg-white rounded">

    <nav aria-label="breadcrumb" class="bdcrm" >
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/user-manager/dashboard']" >Dashboard</a></li>
            <li class="breadcrumb-item" aria-current="page">Edit User-Manager Profile</li>
        </ol>
    </nav>


   
    <form [formGroup]="editProfileForm" (ngSubmit)="onFormSubmit()">
        <div class="card-body">

            <div class="row">

                <div class="form-group col-sm-4 ">
                    <label id="bottomLine"><strong>Employee Id</strong></label>
                    <input type="text" class="form-control" formControlName="empId" readonly/>
                </div> 

                <div class="form-group col-md-4">
                    <label for="" id="bottomLine"><strong>Username</strong></label>
                    <input type="text" class="form-control" formControlName="username"  readonly  />
                </div>

                <div class="form-group col-sm-4">
                    <label id="bottomLine"><strong>Role</strong></label>
                    <div>
                        <input type="text" class="form-control" value="{{userManagerRole}}" formControlName="role" readonly />
                    </div>
                </div> 

                <div class="form-group col-md-4">
                    <label for="" id="bottomLine"><strong>Name</strong><span class="mandatory">*</span></label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Enter Name" [ngClass]="{
                            'is-invalid': submitted && fval.name.errors
                        }" />
                    <div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
                        <div *ngIf="
                                editProfileForm.controls.name.errors &&
                                editProfileForm.controls.name.errors.required
                            ">
                            {{
                                editProfileForm.controls.name.errors.required
                                    .message
                            }}
                        </div>
                    </div>
                </div>
                

                <div class="form-group col-md-4">
                    <label for="" id="bottomLine"><strong>Mobile Number</strong><span class="mandatory">*</span></label>
                    <input type="text" class="form-control" formControlName="mobileNumber" placeholder="Enter mobile no"
                        [ngClass]="{
                            'is-invalid': submitted && fval.mobileNumber.errors
                        }" maxlength="10" />
                        <div *ngIf="submitted && fval.mobileNumber.errors" class="invalid-feedback" >
                            <div  *ngIf="editProfileForm.controls.mobileNumber.errors && editProfileForm.controls.mobileNumber.errors.required " >
                                {{ editProfileForm.controls.mobileNumber.errors.required.message }}
                            </div>
                            <div *ngIf="editProfileForm.controls.mobileNumber.errors && editProfileForm.controls.mobileNumber.errors.onlyDigit" >
                                {{ editProfileForm.controls.mobileNumber.errors.onlyDigit.message }}
                            </div>
                        </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="" id="bottomLine"><strong>Email</strong><span class="mandatory">*</span></label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Enter Email"
                        [ngClass]="{
                            'is-invalid': submitted && fval.email.errors
                        }" />
                        <div *ngIf="submitted && fval.email.errors" class="invalid-feedback" >
                            <div *ngIf="editProfileForm.controls.email.errors && editProfileForm.controls.email.errors.required">
                                {{ editProfileForm.controls.email.errors.required.message }}
                            </div>
                            <div *ngIf="editProfileForm.controls.email.errors && editProfileForm.controls.email.errors.email">
                                {{ editProfileForm.controls.email.errors.email.message }}
                            </div>
                        </div>
                </div>
            </div>




            <div *ngIf="showEditBtn">
            <div class="row ">
                <div class="col-2 pb-3">
                    <button class="btn btn-primary mt-4 pull-left  size" (click)="showEditForm()" >
                        <i class="fa fa-paper-plane"></i>
                        Edit Profile
                    </button>
                </div>
            </div>
                </div>

                <div *ngIf="showUpdateBtn">
                    <div class="row ">
                        <div class="col-12 pb-3 ">
                            <button class="btn btn-primary mt-4 mr-2 pull-left size "> <i class="fa fa-paper-plane"></i>Update</button>
                            <button type="reset" class="btn btn-danger mt-4 pull-left size" (click)="cancel()"><i class="fas fa-close"></i> Cancel</button>
                        </div>   
                    </div>
                </div>
            
        </div>
    </form>
</div>