.heading {
    text-align: center;
    margin: 50px 0 20px;
}

h2 {
    text-align: center;
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 20px;
}

hr {
    border: 0;
    height: 5px;
    background: linear-gradient(
        to right,
        #00004d,
        #605cbdd6,
        rgb(185 171 171 / 0%)
    );
}

.table-set {
    overflow-x: auto;
    padding: 10px 20px;
    font-size: 14px;
    background: #d7d7ff;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    background: #00006d !important;
    color: #fff;
    text-align: center;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

td {
    padding-left: 20px !important;
}

#hide-id {
    display: none;
}


//for switch
input[type="checkbox"]{
    position: relative;
    width: 50px;
    height: 20px;
    -webkit-appearance: none ;
    background: red;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
  }
  
  input:checked[type="checkbox"]{
    background:  green;
    //background: #03a9f4;
  }
  
  input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 25px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1) ;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
  }
  
  input:checked[type="checkbox"]:before{
    left: 30px;
  }

  .editButton{
    font-size: 25px; 
    color: #2806a5
  }

  .viewStationButton{
    font-size: 25px; 
    color: #2806a5
  }

  .mgrn{
    padding: 10px;
  }

  .headingTextLabel{
    color: #00004d!important;;
  }