.red {
    background-color: red;
    padding: 10px 15px;
    border: 1px solid red;
    color: white;
}
.green {
    background-color: green;
    padding: 10px 15px;
    border: 1px solid green;
    color: white;
}
.hdr-set {
    margin: 20px 0;;
    color: #ca7308e8;
}
hr {
    height: 1px;
    background: #020d27;
}
// .edit {
//     font-size: 20px; 
//     color: #008CBA; 
//     font-size: 32px;
//     margin-left: 18px;
// }
// .delete {
//     font-size: 20px; 
//     color: red; 
//     cursor: pointer; 
//     font-size: 32px;
//     margin-left: 18px;
// }
