<div class="heading">
    <h2>Zone List</h2>
    <hr>
</div>

<div class="table-responsive table-set">
    <table class="table-res row-border hover table-head" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th>Zone ID</th>
                <th>Zone Name</th> 
                <th>Created Date & Time</th>               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of zone">
                <td><b>{{item.id}}</b></td>
                <td>{{item.name}}</td>  
                <td>{{item.createdDate | date: 'medium'}}</td> 
            </tr>
        </tbody>
    </table>

</div>