<div class="container">
        <!-- <div class="heading">
        <h2>Station List</h2>

        <hr />
    </div> -->
    <!-- <nav aria-label="breadcrumb" class="bdcrm">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item"><a [routerLink]="['/admin/stationlist']" >Station</a> </li>
            <li class="breadcrumb-item active" aria-current="page">Station List</li>
        </ol>
    </nav>
    <hr> -->

    <div class="card mt-5">
        <div class="card-header">
            <h4 class="pt-2 headingTextLabel">
                <i class="fa fa-list" aria-hidden="true"></i>
                Station List
            </h4>
        </div>
    </div>

    <div class="table-responsive table-set mt-4">
        <!-- datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger" -->
        
        <table
            class="table-res row-border hover table-head"
            id="dataTable"
            datatable=""
            dt-options="dtOptions"
            dt-columns="dtColumns"
            class="display nowrap table"
            cellspacing="0"
            width="100%"
            *ngIf="this.temp"
        >
            <thead>
                <tr class="text-center">
                    <th>S.No.</th>
                    <th>Station Name</th>
                    <th>Station Code</th>
                    <th>Contact Number</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Zone</th>
                    <th>address</th>
                    <th>Edit</th>
                    <th>Status</th>


                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let item of station; index as i">
                    <td>{{i+1}}</td>
                    <td>{{ item && item.stationName ? item.stationName : 'NA' }}</td>
                    <td>{{ item && item.stationCode ? item.stationCode : 'NA' }}</td>
                    <td>{{ item && item.contactNum ? item.contactNum : 'NA' }}</td>
                    <td>{{ item && item.latitude ? item.latitude : 'NA' }}</td>
                    <td>{{ item && item.longitude ? item.longitude : 'NA' }}</td>
                    <td>{{ item && item.zone ? item.zone : 'NA' }}</td>
                    <td>{{ item && item.address ? item.address : 'NA' }}</td>
                    
                    <td>
                        <a
                            href="javascript:;"
                            [routerLink]="['/admin/edit-station/', item.id]"
                        >
                            <i class="fa fa-edit editButton" ></i>
                        </a>
                    </td>
                    <td style="width: 150px;">
                        <!-- <input type="checkbox" [value]="item.status" id="handleCheckBox"  [checked]="(item.status === 0) ?'':'checked'" (change)="openModal(templateDeactivate, templateActive, $event)" > -->
                        <!-- <select class="form-control" (change)="changeStatus(item.stationCode, $event.target.value)"> -->

                        <select class="form-control" (change)="openModal(templateDeactivate, templateActive,templateClose, $event)">
                            <option value="">Select Status</option>
                            <option value="1" [selected]="item.status=='1' ">Activated</option>
                            <option value="0" [selected]="item.status=='0'">Deactivated</option>
                            <option value="2" [selected]="item.status=='2' ">Closed Station</option>
                        </select>

                        <ng-template #templateDeactivate>
                            <div class="modal-body text-center">
                                <p>Are you sure you want to DEACTIVATE this station?</p>
                                <button type="button" class="btn btn-info" (click)="confirm(item.stationCode)">
                                    Deactivate
                                </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-danger" (click)="decline()">
                                    Cancel
                                </button>
                            </div>
                        </ng-template>

                        <ng-template #templateActive>
                            <div class="modal-body text-center">
                                <p>Are you sure you want to ACTIVATE this station?</p>
                                <button type="button" class="btn btn-info" (click)="confirm(item.stationCode)">
                                    Activate
                                </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-danger" (click)="decline()">
                                    Cancel
                                </button>
                            </div>
                        </ng-template>
                        <ng-template #templateClose>
                            <div class="modal-body text-center">
                                <p>Are you sure you want to CLOSE this station?</p>
                                <button type="button" class="btn btn-info" (click)="confirm(item.stationCode)">
                                    Close
                                </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-danger" (click)="decline()">
                                    Cancel
                                </button>
                            </div>
                        </ng-template>
                    </td>

                    </tr>
            </tbody>
        </table>
    </div>

</div>

