
.NonassignTable {
    margin: 2rem 0;
}

.bdcrm {
    margin: 25px 0 0 0;
    float: left;
    width: 100%;
  }

.shadow{
    float: left;
    width: 100%;
    margin-top: 20px;
    height: 50px;
}

thead{
    background-color: #212529; 
    color:white;
    text-align: center;
}

.btn_hover:hover{
    transform: scale(1.05);
}