
.NonassignTable {
    margin: 2rem 0;
}

.bdcrm {
    margin: 25px 0 0 0;
    float: left;
    width: 100%;
  }

.shadow{
    float: left;
    width: 100%;
    margin-top: 20px;
    height: 50px;
}

thead{
    background-color: #212529; 
    color:white;
    text-align: center;
}

.btn_hover:hover{
    transform: scale(1.05);
}

.fltLeft {
    float: left;
}

.fltRight {
    float: right;
}

.download {
    padding: 8px 22px;
    color: #fff;
    border: 0;
    background: #00004d;
    border: 2px solid #00004d;
    font-size: 12px;
    // margin: 30px 7px 28px 0px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
}