.btn-sub {
    background-color: #00004d;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 auto;
    color: #fff;
    padding: 8px 30px;
    margin: 20px;
}

.btn-set {
    padding: 0 18px;
    margin: 0 auto;
    text-align: center;
}

button[type="submit"] {
    padding: 8px 22px;
    color: #fff;
    border: 0;
    background: #00004d;
    border: 2px solid #00004d;
    font-size: 16px;
    text-transform: uppercase;
    margin: 30px 7px 28px 0px;
    letter-spacing: 2px;
    cursor: pointer;
}

button[type="submit"]:hover {
    color: #00004d;
    background: #fff;
    border: 2px solid #00004d;
    font-weight: bold;
}

button[type="reset"] {
    padding: 8px 22px;
    color: #00004d;
    border: 0;
    background: #fff;
    border: 2px solid #00004d;
    font-size: 16px;
    text-transform: uppercase;
    margin: 30px 0;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bold;
}

button[type="reset"]:hover {
    color: #fff;
    background: #00004d;
    font-weight: bold;
}

span .fa-class {
    font-size: 18px;
}

.formBg{
    padding: 40px;
    height: 700px;
    box-shadow: 0px 0px 15px 0px;
    margin-bottom: 100px;
}

.required{
    color: red;
}

.fltLeft{
    float: left;
}

.fltRight{
    float: right;
}

.backBtn{
    padding: 10px 0 0 0;
    
}

.backBtn a{
    text-decoration: none;
    color: #00004d;
}

.headingTextLabel{
    color: #00004d!important;;
}