<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-fussion" [fullScreen]="true">
    <p style="color: white">Loading...</p>
</ngx-spinner>

<div class="container">
    <div class="mrgn bg-white rounded">

        <div class="card">
            <div class="card-header col-md-12">
                <div class="col-md-8 fltLeft">
                    <h4 class="pt-2 headingTextLabel">
                        <i class="fa fa-gear" aria-hidden="true"></i>
                        Update User
                    </h4>
                </div>
                <div class="col-md-4 fltLeft">
                    <span class="fltRight backBtn">
                        <a [routerLink]="['/admin/usermanager-list']"> <i class="fa fa-arrow-circle-left"></i> Back</a>
                    </span>
                </div>

            </div>
        </div>


        <form [formGroup]="updateUser" (ngSubmit)="onSubmit()">
            <div class="card-body">
                <div class="row mt-4">
                    <div class="form-group col-sm-6 pb-3">
                        <label class="required">Name</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Enter Name"
                            [ngClass]="{'is-invalid': submitted && fval.name.errors }" maxlength="255">
                        <div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
                            <div *ngIf="updateUser.controls.name.errors && updateUser.controls.name.errors.required">
                                {{ updateUser.controls.name.errors.required.message }}
                            </div>
                            <div *ngIf=" updateUser.controls.name.errors &&  updateUser.controls.name.errors.alpha">
                                {{ updateUser.controls.name.errors.alpha.message }}
                            </div>
                            <div *ngIf="
                                updateUser.controls.name.errors &&
                                updateUser.controls.name.errors.minLength
                                ">
                                {{ updateUser.controls.name.errors.minLength.message }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-6 pb-3">
                        <label class="required">Email</label>
                        <input type="text" class="form-control" formControlName="email" placeholder="Enter Email"
                            [ngClass]="{'is-invalid': submitted && fval.email.errors }" maxlength="128">
                        <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                            <div
                                *ngIf="updateUser.controls.email.errors &&  updateUser.controls.email.errors.required ">
                                {{ updateUser.controls.email.errors.required.message }}
                            </div>
                            <div *ngIf=" updateUser.controls.email.errors && updateUser.controls.email.errors.email ">
                                {{ updateUser.controls.email.errors.email.message }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-6 pb-3">
                        <label class="required">Username</label>
                        <input readonly type="text" class="form-control" formControlName="username" maxlength="128"
                            placeholder="Enter Username" [ngClass]="{'is-invalid': submitted && fval.username.errors }">
                        <div *ngIf="submitted && fval.username.errors" class="invalid-feedback">
                            <div
                                *ngIf="updateUser.controls.username.errors &&  updateUser.controls.username.errors.required ">
                                {{ updateUser.controls.username.errors.required.message }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-6 pb-3">
                        <label class="required">Employee ID</label>
                        <input type="text" class="form-control" formControlName="empId" placeholder="Enter Employee Id"
                            [ngClass]="{'is-invalid': submitted && fval.empId.errors }" maxlength="10">
                        <div *ngIf="submitted && fval.empId.errors" class="invalid-feedback">
                            <div
                                *ngIf="updateUser.controls.empId.errors &&  updateUser.controls.empId.errors.required ">
                                {{ updateUser.controls.empId.errors.required.message }}
                            </div>
                            <div *ngIf="updateUser.controls.empId.errors && updateUser.controls.empId.errors.numeric">
                                {{ updateUser.controls.empId.errors.numeric.message }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-6 pb-3">
                        <label class="required">Mobile Number</label>
                        <input type="text" class="form-control" formControlName="mobileNumber"
                            placeholder="Enter Mobile Number"
                            [ngClass]="{'is-invalid': submitted && fval.mobileNumber.errors }" maxlength="10">
                        <div *ngIf="submitted && fval.mobileNumber.errors" class="invalid-feedback">
                            <div
                                *ngIf="updateUser.controls.mobileNumber.errors &&  updateUser.controls.mobileNumber.errors.required ">
                                {{ updateUser.controls.mobileNumber.errors.required.message }}
                            </div>
                            <div
                                *ngIf=" updateUser.controls.mobileNumber.errors && updateUser.controls.mobileNumber.errors.onlyDigit">
                                {{ updateUser.controls.mobileNumber.errors.onlyDigit.message }}
                            </div>
                        </div>
                    </div>

                    <!-- Role -->
                    <div class="row">
                        <div class="col-sm-6 pb-3">
                            <label class="required">Role</label>
                            <div *ngFor="let roles of roleList">
                                <input type="checkbox" [value]="roles.roleCode" class="checkmark"
                                    [checked]="rolesArray.indexOf(roles.roleCode) != -1" (change)="onChange($event)" />
                                <span class="roleText">{{roles.roleName}}</span>
                            </div>
                            <div *ngIf="roleError" class="text-danger errFont">
                                Select Atleast One Role!
                            </div>
                        </div>
                    </div>
                    


                    <!-- hiding station -->

                    <div *ngIf="showStationCode" class="col-sm-4 pb-3">
                        <label class="required">Station Name</label>
                        <select class="form-control" formControlName="stationCode"
                            [ngClass]="{  'is-invalid': submitted && fval.stationCode.errors }">
                            <!-- <option value="0">Select station</option> -->
                            <option *ngFor="let station of stationList; let i = index" [ngValue]="station.stationCode">
                                {{ station.stationName }}
                            </option>
                        </select>
                        <div *ngIf="submitted && fval.stationCode.errors" class="invalid-feedback">
                            <div *ngIf=" updateUser.controls.stationCode.errors &&  updateUser.controls.stationCode.errors.required  ">
                                {{ updateUser.controls.stationCode.errors.required.message }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">

                    <!-- Submit Buttons -->
                    <div class="clearfix col-md-12 btn-set mt-5">
                        <button type="submit">
                            Update
                            <span class="fa-class fa fa-refresh"></span>
                        </button>
                        <button type="reset" (click)="cancel()">
                            Cancel
                            <span class="fa-class fa fa-close"></span>
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>