.heading
{
    padding: 30px 0 10px;
}
hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #00004d42, #4b3a6e, rgb(185 171 171));
}
#ml-10 {
    margin-left: 10px;
    margin-top: 30px;
}
.btn-set {
    margin-top: 32px;
}
.terminaldescriptn {
    font-size: 12px;
    color: #615f5f5e;
}