<div class="contnr">
    <div class="card mt-5">
        <div class="card-header">
            <h4 class="pt-2 headingTextLabel">
                <i class="fa fa-list" aria-hidden="true"></i>
                Transaction List
            </h4>
        </div>
    </div>
    
    <div class=" table-set  mt-2">
        <form [formGroup]="Search" (ngSubmit)="getFilteredResponse()" >
            <div class="row">
                <div class="col-md-2 ">
                    <label for="stationCode">Station Name</label>
                    <select formControlName="stationCode" class="form-control" >
                        <option value="">Select</option>
                        <option *ngFor="let item of stationList;let i=index" [value]="item.stationCode">{{ item.stationName }}</option>
                    </select>
                </div>
    
                <div class="col-md-2 ">
                    <label for="dateFrom">From Date</label>
                    <input type="date" formControlName="dateFrom" class="form-control" />
                </div>
    
                <div class="col-md-2 ">
                    <label for="dateUpto">To Date</label>
                    <input type="date" formControlName="dateUpto" class="form-control" />
                </div>

                <div class="col-md-2 ">
                    <label for="ticketType">Ticket Type</label>
                    <select formControlName="ticketType" class="form-control" id="stnCode">
                        <option value="">Select</option>
                        <option *ngFor="let item of ticketType;let i=index" [value]="item.ticketCode">{{ item.ticketValue }}</option>
                    </select>
                </div>

                <div class="col-md-2 ">
                    <button type="submit" class="searchBtn">Search</button>
                    <button type="reset" class="searchBtn mx-1">Reset</button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="table-responsive table-set mgrn mt-4 col-md-12 marginBottom">
        <table class="table-responsive table-res row-border hover table-head" id="dataTable"  datatable  class="display nowrap table">
            <thead>
                <tr >
                    <th>#</th>
                    <th>Requester Id</th>
                    <th>ORD</th>
                    <th>Terminal Id</th>
                    <th>Transaction Type</th>
                    <th>Transaction Amount</th>
                    <th>Transaction Place</th>
                    <th>Transaction Date and Time</th>
                    <th>Source Station</th>
                    <th>Destination Station</th>
                    <th>Ticket Count</th>
                    <th>Ticket Serial Number</th>
                    <th>QR Type</th>
                    <th>QR Generation Date and Time</th>
                    <th>QR Product Type</th>
                    <th>QR Service Type</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of txnList; let i=index'>
                    <td>{{ i + 1 }}</td>
                    <td>{{ item && item.requesterId ? item.requesterId : 'NA' }}</td>
                    <td>{{ item && item.ord ? item.ord : 'NA' }}</td>
                    <td>{{ item && item.operatorTerminalId ? item.operatorTerminalId : 'NA' }}</td>
                    <td>{{ item && item.transactionType ? item.transactionType : 'NA' }}</td>
                    <td>{{ item && item.transactionAmount ? item.transactionAmount : 'NA' }}</td>
                    <td>{{ item && item.transactionPlace ? item.transactionPlace : 'NA' }}</td>
                    <td>{{ item && item.transactionDateTime ? item.transactionDateTime : 'NA' }}</td>
                    <td>{{ item && item.sourceStation ? item.sourceStation : 'NA' }}</td>
                    <td>{{ item && item.destinationStation ? item.destinationStation : 'NA' }}</td>
                    <td>{{ item && item.ticketCount ? item.ticketCount : 'NA' }}</td>
                    <td>{{ item && item.ticketSerialNumber ? item.ticketSerialNumber : 'NA' }}</td>
                    <td>{{ item && item.qrType ? item.qrType : 'NA' }}</td>
                    <td>{{ item && item.qrGenerationDateTime ? item.qrGenerationDateTime : 'NA' }}</td>
                    <td>{{ item && item.qrProductType ? item.qrProductType : 'NA' }}</td>
                    <td>{{ item && item.qrServiceType ? item.qrServiceType : 'NA' }}</td>
                </tr>
            </tbody>
            <!-- <tbody *ngIf="txnList?.length == 0">
                <tr>
                    <td colspan="10" class="no-data-available">No Records Found!</td>
                </tr>
            </tbody> -->
        </table>
    </div>
</div>

<ng-template #templateActive class="model-margin-bottom">
    <div class="modal-body mb-5">
        <table class="table table-bordered ">
            <tr>
                <td>Sequence no. for file identifier</td>
                <td>{{ item && item.flSeqNo ? item.flSeqNo : 'NA' }}</td>
            </tr>
            <tr>
                <td>Version no of the Structure</td>
                <td>{{ item && item.flVersion ? item.flVersion : 'NA' }}</td>
            </tr>
            <tr>
                <td>File Generation Date and Time</td>
                <td>{{ item && item.flDtTmLcTxn ? item.flDtTmLcTxn : 'NA' }}</td>
            </tr>
            <tr>
                <td>Transaction Record Number</td>
                <td>{{ item && item.txnRecNum ? item.txnRecNum : 'NA' }}</td>
            </tr>
            <tr>
                <td>Transaction Version</td>
                <td>{{ item && item.txnVersion ? item.txnVersion : 'NA' }}</td>
            </tr>
            <tr>
                <td>Transaction Terminal Id</td>
                <td>{{ item && item.txnTrmIdOp ? item.txnTrmIdOp : 'NA' }}</td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>{{ item && item.txnAmtTxn ? item.txnAmtTxn : 'NA' }}</td>
            </tr>
            <tr>
                <td>Date and Time of Local Transaction</td>
                <td>{{ item && item.txnDtTmLcTxn ? item.txnDtTmLcTxn : 'NA' }}</td>
            </tr> 
            <tr>
                <td>Transaction Type</td>
                <td>{{ item && item.txnTypeQ ? item.txnTypeQ : 'NA' }}</td>
            </tr>
            <tr>
                <td>Transaction Place</td>
                <td>{{ item && item.txnPlace ? item.txnPlace : 'NA' }}</td>
            </tr>
            <tr>
                <td>Transaction Ord</td>
                <td>{{ item && item.txnOrd ? item.txnOrd : 'NA' }}</td>
            </tr>
            <tr>
                <td>Transaction Op Data Source Station</td>
                <td>{{ item && item.txnOpDataSrcStn ? item.txnOpDataSrcStn : 'NA' }}</td>
            </tr>
            <tr>
                <td>Transaction Op Data Destination Station</td>
                <td>{{ item && item.txnOpDataDstStn ? item.txnOpDataDstStn : 'NA' }}</td>
            </tr>
            <tr>
                <td>Transaction Ot Data Ticket Count</td>
                <td>{{ item && item.txnOtDataTcktCnt ? item.txnOtDataTcktCnt : 'NA' }}</td>
            </tr>
            <tr>
                <td>Total Amount</td>
                <td>{{ item && item.totalAmt ? item.totalAmt : 'NA' }}</td>
            </tr>
            <tr>
                <td>Transit File Insertion Time</td>
                <td>{{ item && item.transitFileInsertionTime ? item.transitFileInsertionTime : 'NA' }}</td>
            </tr>
            <tr>
                <td>Version Number</td>
                <td>{{ item && item.mVersion ? item.mVersion : 'NA' }}</td>
            </tr>
            <tr>
                <td>Transaction Certificate</td>
                <td>{{ item && item.tc ? item.tc : 'NA' }}</td>
            </tr>
            <tr>
                <td>Card Acceptor Terminal ID</td>
                <td>{{ item && item.crdAcptTrmId ? item.crdAcptTrmId : 'NA' }}</td>
            </tr>
            <tr>
                <td>Card Acceptor ID Code</td>
                <td>{{ item && item.crdAcpIdCd ? item.crdAcpIdCd : 'NA' }}</td>
            </tr>
            <tr>
                <td>Primary Account Number</td>
                <td>{{ item && item.mpan ? item.mpan : 'NA' }}</td>
            </tr>
            <tr>
                <td>Tokenized Primary Account Number</td>
                <td>{{ item && item.tpan ? item.tpan : 'NA' }}</td>
            </tr>
            <tr>
                <td>Card Balance</td>
                <td>{{ item && item.cardBal ? item.cardBal : 'NA' }}</td>
            </tr>
            <tr>
                <td>NCMC Pto Info Type</td>
                <td>{{ item && item.ncmcPtoInfoNcmcType ? item.ncmcPtoInfoNcmcType : 'NA' }}</td>
            </tr>
            <tr>
                <td>NCMC Pto Info Evm Key Version</td>
                <td>{{ item && item.ncmcPtoInfoEvmKeyVer ? item.ncmcPtoInfoEvmKeyVer : 'NA' }}</td>
            </tr>
            <tr>
                <td>NCMC Pto Info Tokenized Primary Account Number</td>
                <td>{{ item && item.ncmcPtoInfoTpan ? item.ncmcPtoInfoTpan : 'NA' }}</td>
            </tr>
            <tr>
                <td>Request Retrieval Number</td>
                <td>{{ item && item.rrn ? item.rrn : 'NA' }}</td>
            </tr>
            <tr>
                <td>Request Retrieval Number Insertion Time</td>
                <td>{{ item && item.rrnInsertionTime ? item.rrnInsertionTime : 'NA' }}</td>
            </tr>
            <tr>
                <td>Claimed To Acquirer</td>
                <td>{{ item && item.claimedToAcquirer ? item.claimedToAcquirer : 'NA' }}</td>
            </tr>
            <tr>
                <td>Acknowledge Received From Acquirer</td>
                <td>{{ item && item.ackRecdFromAcquirer ? item.ackRecdFromAcquirer : 'NA' }}</td>
            </tr>
            <tr>
                <td>Received By Npci</td>
                <td>{{ item && item.recdByNpci ? item.recdByNpci : 'NA' }}</td>
            </tr>
            <tr>
                <td>Settled By Bank</td>
                <td>{{ item && item.settledByBank ? item.settledByBank : 'NA' }}</td>
            </tr>
            <tr>
                <td>Response Code</td>
                <td>{{ item && item.responseCode ? item.responseCode : 'NA' }}</td>
            </tr>
        </table>
    </div>
</ng-template>