// $topnav-background-color: #00306d91;
:host {
    .navbar {
        // background-image:linear-gradient(45deg, #a5baf0, #475663bd);
        //box-shadow: inset 0 0 40px #000000;
        //background-color: #05abab;
        background-image: linear-gradient(45deg, #020d27, #35434e);
        box-shadow: 0 0 30px #0000008a;

        .navbar-brand {
            color: #ca7308e8;
        }
        .nav-item > a {
            color: #9b9292;
            &:hover {
                color: #ca7308e8;
            }
        }
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
        margin-top: 0px;
        top: 52px;
        border: 0px;
        border-radius: 2px;
        box-shadow: -1px 3px 10px 2px #888888;
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
    .img-st {
        width: 42px;
    }
    .hdr-logo-txt {
        letter-spacing: 2px;
        color: #fff !important;
    }

}
.header{
    // position: relative;
    // left: 326px;
    // color: #fff;
    text-shadow: 0 0 #fff 5px;
    color: #ca7308e8;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: none;
    position: fixed;
    left: 44%;
}

.fa-clr {
    color: #ca7308e8;
}
