<ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="ball-fussion"
    [fullScreen]="true"
    ><p style="color: white">Loading...</p></ngx-spinner
>

<nav aria-label="breadcrumb" class="bdcrm" >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/user-manager/dashboard']" >Dashboard</a></li>
        <li class="breadcrumb-item" aria-current="page">Change Password</li>
    </ol>
</nav>

<div class="d-flex justify-content-center align-items-center mt-4">
    <div class="card" >
        <!-- <div class="header">
            <h3 class="pt-1 d-flex justify-content-center bg-white">
                Change Password
            </h3>
        </div> -->

        <div class="card-body">
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-4">
                        <label> Old Password<span class="mandatory">*</span></label>
                        <div>
                            <input
                                type="password"
                                class="form-control"
                                placeholder="Enter new password"
                                formControlName="oldPassword"
                                [ngClass]="{
                                    'is-invalid':
                                        submitted && fval.oldPassword.errors
                                }"
                            />
                            <div *ngIf="submitted" class="invalid-feedback">
                                <div
                                    *ngIf="
                                        changePasswordForm.controls.oldPassword
                                            .errors &&
                                        changePasswordForm.controls.oldPassword
                                            .errors.required
                                    "
                                >
                                    {{
                                        changePasswordForm.controls.oldPassword
                                            .errors.required.message
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label> New Password<span class="mandatory">*</span></label>
                        <div>
                            <input
                                type="password"
                                class="form-control"
                                placeholder="Enter new password"
                                formControlName="newPassword"
                                [ngClass]="{
                                    'is-invalid':
                                        submitted && fval.newPassword.errors
                                }"
                            />
                            <div *ngIf="submitted" class="invalid-feedback">
                                <div
                                    *ngIf="
                                        changePasswordForm.controls.newPassword
                                            .errors &&
                                        changePasswordForm.controls.newPassword
                                            .errors.required
                                    "
                                >
                                    {{
                                        changePasswordForm.controls.newPassword
                                            .errors.required.message
                                    }}
                                </div>
                                <div
                                    *ngIf="
                                        changePasswordForm.controls.newPassword
                                            .errors &&
                                        changePasswordForm.controls.newPassword
                                            .errors.pass
                                    "
                                >
                                    {{
                                        changePasswordForm.controls.newPassword
                                            .errors.pass.message
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label> Confirm Password<span class="mandatory">*</span></label>
                        <div>
                            <input
                                type="password"
                                class="form-control"
                                placeholder="Enter new password"
                                formControlName="confirmPassword"
                                [ngClass]="{
                                    'is-invalid':
                                        submitted && fval.oldPassword.errors
                                }"
                            />
                            <div *ngIf="submitted" class="invalid-feedback">
                                <div *ngIf="changePasswordForm.controls.confirmPassword.errors && changePasswordForm.controls.confirmPassword.errors.required" >
                                    {{
                                        changePasswordForm.controls
                                            .confirmPassword.errors.required
                                            .message
                                    }}
                                </div>
                                
                                <div
                                    *ngIf="
                                        changePasswordForm.controls
                                            .confirmPassword.errors &&
                                        changePasswordForm.controls
                                            .confirmPassword.errors.compare
                                    "
                                >
                                    {{
                                        changePasswordForm.controls
                                            .confirmPassword.errors.compare
                                            .message
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 ">
                    <button class="btn btn-primary pull-left mr-4 size"><i class="fa fa-paper-plane"></i>Change password</button>
                    <button class="btn btn-danger pull-left size" [routerLink]="['/user-manager/dashboard']"><i class="fa fa-close"></i>Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
