<div class="container">
    <h2>Update Station</h2>
    <hr />
    <!-- <nav aria-label="breadcrumb" class="bdcrm">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item"><a [routerLink]="['/admin/stationlist']">Station</a> </li>
            <li class="breadcrumb-item active" aria-current="page">Edit Station</li>
        </ol>
    </nav>
    <hr> -->

    <div class="">
        <form [formGroup]="editstationForm" (ngSubmit)="onFormSubmit()">
            <div class="row row-p10">

                 <!-- Zone -->
                 <div class="col-md-4">     
                    <label for="zone" class="required">Zone</label>    
                    <ng-select id="zone" class=" form-vehicle" formControlName="zone" placeholder="Select Zone"
                        [ngClass]="{ 'is-invalid': submitted && fval['zone'].errors }" >
                        <ng-option value="" selected>--Select Zone--</ng-option>
                        <ng-option *ngFor="let zone of zoneList" [value]="zone.id" >{{zone.value}}</ng-option>
                    </ng-select>
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" editstationForm.controls.zone.errors && editstationForm.controls.zone.errors.required ">
                            {{editstationForm.controls.zone.errors.required.message }}
                        </div>
                    </div>
                           
                   
                </div>

                <!-- Station Code -->
                <div class="col-md-4">
                    <label for="stationCode" class="required">
                        Station Code/Short Name
                    </label>
                    <input type="text" class="form-control" formControlName="stationCode" [ngClass]="{
                            'is-invalid': submitted && fval.stationCode.errors
                        }" readonly />

                    <div *ngIf="submitted && fval.stationCode.errors" class="invalid-feedback">
                        <div *ngIf="
                                editstationForm.controls.stationCode.errors &&
                                editstationForm.controls.stationCode.errors
                                    .required
                            ">
                            {{
                            editstationForm.controls.stationCode.errors
                            .required.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Station Name -->
                <div class="col-md-4">
                    <label for="stationName" class="required">
                        Station Name
                    </label>
                    <input formControlName="stationName" class="form-control" type="text" [ngClass]="{
                            'is-invalid': submitted && fval.stationName.errors
                        }" maxlength="50" />

                    <div *ngIf="submitted && fval.stationName.errors" class="invalid-feedback">
                        <div *ngIf="
                                editstationForm.controls.stationName.errors &&
                                editstationForm.controls.stationName.errors
                                    .required
                            ">
                            {{
                            editstationForm.controls.stationName.errors
                            .required.message
                            }}
                        </div>
                        <div *ngIf="
                                editstationForm.controls.stationName.errors &&
                                editstationForm.controls.stationName.errors
                                    .alpha
                            ">
                            {{
                            editstationForm.controls.stationName.errors
                            .alpha.message
                            }}
                        </div>
                        <div *ngIf="
                            editstationForm.controls.stationName.errors &&
                            editstationForm.controls.stationName.errors.minLength
                            ">
                            {{
                            editstationForm.controls.stationName.errors.minLength
                            .message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Station Id -->
                <div class="col-md-4">
                    <label for="stationId" class="required">
                        <b> Station Id</b>
                    </label>
                    <input formControlName="stationId" class="form-control" type="text"
                        [ngClass]="{'is-invalid': submitted && fval.stationId.errors}" maxlength="25" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div
                            *ngIf="editstationForm.controls.stationId.errors && editstationForm.controls.stationId.errors.required">
                            {{ editstationForm.controls.stationId.errors.required.message }}
                        </div>
                        <!-- <div *ngIf="editstationForm.controls.stationId.errors && editstationForm.controls.stationId.errors.alpha">
                            {{ editstationForm.controls.stationId.errors.alpha.message }}
                        </div>
                        <div *ngIf="editstationForm.controls.stationId.errors && editstationForm.controls.stationId.errors.minLength">
                            {{ editstationForm.controls.stationId.errors.minLength.message }}
                        </div> -->
                    </div>
                </div>

                <!-- Latitude -->
                <div class="col-md-4">
                    <label for="latitude" class="required">
                        <b> Latitude</b>
                    </label>
                    <input formControlName="latitude" class="form-control" type="text" [ngClass]="{
                            'is-invalid':
                                submitted && fval.latitude.errors
                        }" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="
                                editstationForm.controls.latitude.errors &&
                                editstationForm.controls.latitude.errors
                                    .required
                            ">
                            {{
                            editstationForm.controls.latitude.errors
                            .required.message
                            }}
                        </div>
                        <div *ngIf="
                                editstationForm.controls.latitude.errors &&
                                editstationForm.controls.latitude.errors
                                    .latitude
                            ">
                            {{
                            editstationForm.controls.latitude.errors
                            .latitude.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Longitude -->
                <div class="col-md-4">
                    <label for="stationCode" class="required">
                        <b> Longitude</b>
                    </label>
                    <input formControlName="longitude" class="form-control" type="text" [ngClass]="{
                            'is-invalid':
                                submitted && fval.longitude.errors
                        }" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="
                                editstationForm.controls.longitude.errors &&
                                editstationForm.controls.longitude.errors
                                    .required
                            ">
                            {{
                            editstationForm.controls.longitude.errors
                            .required.message
                            }}
                        </div>
                        <div *ngIf="
                                editstationForm.controls.longitude.errors &&
                                editstationForm.controls.longitude.errors
                                    .longitude
                            ">
                            {{
                            editstationForm.controls.longitude.errors
                            .longitude.message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Contact Number -->
                <div class="col-md-4">
                    <label for="contactNum" class="required">
                        <b> Contact Number</b>
                    </label>
                    <input formControlName="contactNum" class="form-control" type="text" [ngClass]="{
                            'is-invalid': submitted && fval.contactNum.errors
                        }" maxlength="10" />
                    <div *ngIf="submitted && fval.contactNum.errors" class="invalid-feedback">
                        <div *ngIf="
                                editstationForm.controls.contactNum.errors &&
                                editstationForm.controls.contactNum.errors.required
                            ">
                            {{
                            editstationForm.controls.contactNum.errors.required
                            .message
                            }}
                        </div>
                        <div *ngIf="
                                editstationForm.controls.contactNum.errors &&
                                editstationForm.controls.contactNum.errors.onlyDigit
                            ">
                            {{
                            editstationForm.controls.contactNum.errors.onlyDigit
                            .message
                            }}
                        </div>
                    </div>
                </div>

                <!-- Address -->
                <div class="col-md-4">
                    <label for="address" class="required">
                        <b> Address</b>
                    </label>
                    <input formControlName="address" class="form-control" type="text" [ngClass]="{
                            'is-invalid': submitted && fval.address.errors
                        }" />
                    <div *ngIf="submitted && fval.address.errors" class="invalid-feedback">
                        <div *ngIf="
                                editstationForm.controls.address.errors &&
                                editstationForm.controls.address.errors.required
                            ">
                            {{
                            editstationForm.controls.address.errors.required
                            .message
                            }}
                        </div>

                    </div>
                </div>

            </div>

            <div class="clearfix col-md-12 btn-set">
                <button type="submit">
                    Update
                    <span class="fa-class fa fa-paper-plane"></span>
                </button>
                <button type="reset" class="btn-sub my-5">
                    Reset
                    <span class="fa-class fa fa-redo"></span>
                </button>
            </div>
            <br><br>

        </form>
    </div>
</div>