<ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#ffffff"
    type="timer"
    [fullScreen]="true"
>
    <p style="color: white">Loading...</p>
</ngx-spinner>
<!-- <div
    class="shadow"
    style="background-color: rgba(174, 190, 245, 0.198)"
>
    <h2 class="d-flex justify-content-center align-item-middle p-1">
        Assigned Equipment List
    </h2>
</div> -->

<nav aria-label="breadcrumb" class="bdcrm">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/equipment/equipmentdash']">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Assigned Equipment List</li>
    </ol>
</nav>


<form [formGroup]="stationCountForm">
    <div class="d-flex mt-3 p-1 justify-content-center">
        <div>
            <ng-select class=" ddl" formControlName="station">
                <ng-option value="">Select Station</ng-option>
                <ng-option *ngFor="let station of stationList" [value]="station.stationCode"> {{ station.stationName }} </ng-option>
            </ng-select>
        </div>
        <div class="ml-2">
            <!-- <button class="btn btn-primary" [disabled]="invalid" (click)="onSubmit()"> <i class="fas fa-paper-plane"> Submit</i> </button> -->
            <button class="btn btn-primary" (click)="onSubmit()"> <i class="fas fa-paper-plane"> Submit</i> </button>
            <button class="btn btn-info ml-2" (click)="onClearHandler()"><i class="fas fa-refresh"> Clear </i></button>
        </div>
    </div>
</form>



<div *ngIf="isVisible" #container class="mb-5">
    <div class="table-responsive mt-2 animate">
        <table class="table table-striped m-0">
            <thead >
                <tr>
                    <th *ngFor="let item of equipementDetails | keyvalue">{{item.key}}</th>
                    <!-- <th>Customer Care</th>
                    <th>Ticket Operating Machine</th>
                    <th>Ticket Vending Machine</th>
                    <th>Terminal</th> -->
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td *ngFor="let item of equipementDetails | keyvalue">{{item.value}}</td>
                    <!-- <td>{{ equipementDetails.CustomerCare }}</td>
                    <td>{{ equipementDetails.TicketOperatingMachine }}</td>
                    <td>{{ equipementDetails.TicketVendingMachine }}</td>
                    <td>{{ equipementDetails.Terminal }}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="table-responsive">
    <table
        id="dataTable"
        datatable=""
        dt-options="dtOptions"
        dt-columns="dtColumns"
        class="display nowrap table table-striped"
        cellspacing="0"
        width="100%"
        *ngIf="this.temp"
    >
        <thead>
            <tr class="text-center">
                <th>Device ID</th>
                <th>Equipment Code</th>
                <th>Equipment Model Name</th>
                <th>Equipment Type</th>
                <th>Manufacture Name</th>
                <th>Manufacturing date</th>
                <th>Purchase Date</th>
                <th>Serial Number</th>
                <th>Station Code</th>
                <th>Version</th>
                <th>Warranty</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let list of assignEquipmentList">
                <td>{{ list.deviceId }}</td>
                <td>{{ list.equipmentCode }}</td>
                <td>{{ list.equipmentModelName }}</td>
                <td>{{ list.equipmentTypeId }}</td>
                <td>{{ list.manufactureName }}</td>
                <td>{{ list.mfgDate | date }}</td>
                <td>{{ list.purchaseDate | date }}</td>
                <td>{{ list.serialNumber }}</td>
                <td>{{ list.stationCode }}</td>
                <td>{{ list.version }}</td>
                <td>{{ list.warranty }}</td>
                <td>{{ list.createdDate | date }}</td>
                <!-- <td>
                    <button class="btn btn-danger">
                        <i
                            class="fa fa-trash"
                            (click)="openModal(template)"
                            style="font-size: 18px;"
                        ></i>
                    </button>
                    <ng-template #template>
                        <div class="modal-body text-center">
                            <p>Do you really want to delete this?</p>
                            <button
                                type="button"
                                class="btn btn-default"
                                (click)="confirm(list.id)"
                            >
                                Confirm
                            </button>
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="decline()"
                            >
                                Cancel
                            </button>
                        </div>
                    </ng-template>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>
