
<ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#ffffff"
    type="timer"
    [fullScreen]="true"
>
    <p style="color: white">Loading...</p>
</ngx-spinner>

<nav aria-label="breadcrumb" class="bdcrm" >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/user-manager/dashboard']" >Dashboard</a></li>
        <li class="breadcrumb-item" aria-current="page">User List</li>
    </ol>
</nav>


<!-- <h2 class="text-center hdr-set">User List</h2> -->
<div class="table-responsive" style="min-height: 620px">
    <table
        id="dataTable"
        datatable=""
        dt-options="dtOptions"
        dt-columns="dtColumns"
        class="display nowrap table"
        cellspacing="0"
        width="100%"
        *ngIf="this.temp"
    >
        <thead class="thead-dark">
            <tr class="text-center">
                <th>Emp ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Mobile Number</th>
                <th>Station Code</th>
                <th>Role</th>
                <!-- <th>Created Date</th> -->
                <th>Edit</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let user of userList" >
                <td>{{ user.empId }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.mobileNumber }}</td>
                <td>{{ user.stationCode }}</td>
                
                <td>{{ user.concanatedRoleCode}}</td>
                <!-- <td>{{ user.createdDate | date }}</td> -->
                 <td >
                    <i class="fa fa-pencil-square-o edit" (click)="update(user, user.concanatedRoleCode)"></i>
                </td>
                
                <td>
                    <input type="checkbox" [value]="user.status" id="handleCheckBox"  [checked]="user.status === 1?'checked':''" (change)="openModal(templateDeactivate, templateActive, $event)" >

                    <ng-template #templateDeactivate>
                        <div class="modal-body text-center">
                            <p>Are you sure you want to DEACTIVATE this User Account "{{ user.username }}" ?</p>
                            <button type="button" class="btn btn-info" (click)="confirm(user.username, user.status)">
                                Deactivate
                            </button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-danger" (click)="decline()">
                                Cancel
                            </button>
                        </div>
                    </ng-template>

                    <ng-template #templateActive>
                        <div class="modal-body text-center">
                            <p>Are you sure you want to ACTIVATE this User Account "{{ user.username }}"?</p>
                            <button type="button" class="btn btn-info" (click)="confirm(user.username, user.status)">
                                Activate
                            </button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-danger" (click)="decline()">
                                Cancel
                            </button>
                        </div>
                    </ng-template>
                </td>

                <!--<td>
                    <button class="btn btn-dark" (click)="openBlacklistModel(blacklist_user)">
                        <i class="fa fa-ban"></i>
                    </button>
                    <ng-template #blacklist_user>
                        <div class="modal-body text-center">
                            <p>Do you really want to <b>blacklist </b> this?</p>
                            <button type="button" class="btn btn-default" (click)="blacklist(user.id)">
                                Confirm
                            </button>
                            <button type="button" class="btn btn-primary" (click)="notBlacklist()">
                                Cancel
                            </button>
                        </div>
                    </ng-template>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>
