

table th{
  background-color: #35434e; 
  color: #fff;
}

.hdr-set {
    margin: 20px 0;;
    color: #ca7308e8;
}
hr {
    height: 1px;
    background: #020d27;
}
.edit {
    font-size: 25px; 
    color: #35434e; 
    margin-left: 18px;
    cursor: pointer;
}

.delete {
    font-size: 20px; 
    color: red; 
    cursor: pointer; 
    font-size: 32px;
    margin-left: 18px;
}


  
.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
    
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .bdcrm{
    margin: 25px 0 0 0 ;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* general styling */
//   html, body {
//     height: 100%;
//     margin: 0;
//   }
  
//   body {
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     background-color: #f1f2f3;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//   }
  
//   .container {
//     margin: 0 auto;
//   }




input[type="checkbox"]{
  position: relative;
  width: 50px;
  height: 20px;
  -webkit-appearance: none ;
  background: red;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  transition: .5s;
}

input:checked[type="checkbox"]{
  background:  rgb(1, 124, 1);
  //background: #03a9f4;
}

input[type="checkbox"]:before{
  content: '';
  position: absolute;
  width: 25px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1) ;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;

  border: 1px solid #008CBA;

}

input:checked[type="checkbox"]:before{
  left: 30px;
}