<div class="container mt-5 mb-5 ">
    <!-- <div class="card mb-4">
        <div class="card-header">
            <h4 class="pt-2">
                <i class="fa fa-gears" aria-hidden="true"></i>
                Update Special Day
            </h4>
        </div>
    </div> -->
    <div class="card">
        <div class="card-header col-md-12">
            <div class="col-md-8 fltLeft">
                <h4 class="pt-2 headingTextLabel">
                    <i class="fa fa-gears" aria-hidden="true"></i>
                    Update Special Day
                </h4>
            </div>
            <div class="col-md-4 fltLeft">
                <span class="fltRight backBtn">
                    <a [routerLink]="['/admin/special-days-list']"> <i class="fa fa-arrow-circle-left"></i> Back</a>
                </span>
            </div>
        </div>
    </div>
    <div class="row form-border mt-4">
        <form [formGroup]="updateSpecialDay" (ngSubmit)="onFormSubmit()">
            <div class="row row-p10">
                <!-- Special Day Name -->
                <div class="col-md-4 form-group">
                    <label for="specialDayName">Special Day Name <span class="required">*</span> </label>
                    <input type="text" formControlName="specialDayName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.specialDayName.errors}" maxlength="70" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="fval.specialDayName.errors && fval.specialDayName.errors.required">
                            {{ fval.specialDayName.errors.required.message }}
                        </div>
                        <div *ngIf="fval.specialDayName.errors && fval.specialDayName.errors.alpha">
                            {{ fval.specialDayName.errors.alpha.message }}
                        </div>
                    </div>
                </div>

                <!-- Select Special Day -->
                <div class="col-md-4 form-group">
                    <div>
                        <label for="specialDayDate">Special Day Date <span class="required">*</span></label>
                        <input readonly type="text" class="form-control date" formControlName="specialDayDate"
                            [ngClass]="{ 'is-invalid': submitted && fval['specialDayDate'].errors }"
                            id="specialDayDate"
                            placeholder="DD-MM-YYYY"
                            bsDatepicker
                            (bsValueChange)="onValueSpecialDayChange($event)"
                            [outsideClick]="true"
                            [bsConfig]="datePickerConfigSpecialDay">
                            <div *ngIf="submitted" class="invalid-feedback">
                                <div *ngIf="fval.specialDayDate.errors && fval.specialDayDate.errors.required">
                                    {{ fval.specialDayDate.errors.required.message }}
                                </div>
                            </div>
                    </div>
                </div>

                <!-- Select Start of the Year Date -->
                <!-- <div class="col-md-4 form-group">
                    <div>
                        <label for="yearStartingDayDate">Year Starting Date <span class="required">*</span></label>
                        <input readonly type="text" class="form-control date" formControlName="yearStartingDayDate"
                            [ngClass]="{ 'is-invalid': submitted && fval['yearStartingDayDate'].errors }"
                            id="yearStartingDayDate"
                            placeholder="DD-MM-YYYY"
                            bsDatepicker
                            [outsideClick]="true"
                            [bsConfig]="datePickerYearStartingDay"
                            (bsValueChange)="onValueYearStartChange($event)">
                            <div *ngIf="submitted" class="invalid-feedback">
                                <div *ngIf="fval.yearStartingDayDate.errors && fval.yearStartingDayDate.errors.required">
                                    {{ fval.yearStartingDayDate.errors.required.message }}
                                </div>
                            </div>
                    </div>
                </div> -->

                <!-- Number Of days -->
                <!-- <div class="col-md-4 form-group">
                    <label for="numberOfDays">Number Of days <span class="required">*</span></label>
                    <input type="text" formControlName="numberOfDays" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.numberOfDays.errors}" maxlength="10" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="fval.numberOfDays.errors && fval.numberOfDays.errors.required">
                            {{ fval.numberOfDays.errors.required.message }}
                        </div>
                        <div *ngIf="fval.numberOfDays.errors && fval.numberOfDays.errors.numeric">
                            {{ fval.numberOfDays.errors.numeric.message }}
                        </div>
                    </div>
                </div> -->
            </div>


            <!-- <div class="clearfix mt-4 btn-set">
                <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel
                    <span class="fa-class fa fa-close"></span>
                </button>
                <button type="submit" class="btn btn-primary mx-3">
                    Update
                    <span class="fa-class fa fa-paper-plane"></span>
                </button>
            </div> -->

            <div class=" row mt-5 mrgnBttom  col-md-12">
                <div class="col-md-6 ">
                    <button type="submit" class="fltRight mx-3">
                        Update
                        <span class="fa-class fa fa-refresh"></span>
                    </button>
                </div>
                <div class="col-md-6 ">.
                    <button type="submit"  (click)="cancel()">Cancel
                        <span class="fa-class fa fa-close"></span>
                    </button>
                </div> 
            </div>

        </form>
    </div>

</div>