hr {
    border: 0;
    height: 5px;
    background: linear-gradient(
        to right,
        #00004d,
        #00004d,
        // rgb(185 171 171 / 0%)
    );
}
 
 /*code by Badal*/

.bdcrm {
    margin: 25px 0 0 0;
}