<div class="container">
    <!-- <div class="heading">
        <h2>Station List</h2>

        <hr />
    </div> -->
    <nav aria-label="breadcrumb" class="bdcrm">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item active" aria-current="page">Device Details</li>
        </ol>
    </nav>
    <hr>

    <section class="device-details">
        <div class="row">
            <div class="col-md-4">
                <label><strong>Device Id</strong>  :&nbsp;&nbsp;&nbsp; {{deviceDetails.deviceId}}</label>
            </div>
            <div class="col-md-4">
                <label><strong>Device Name</strong> :&nbsp;&nbsp;&nbsp; {{deviceDetails.deviceName}}</label>
            </div>
            <div class="col-md-4">
                <label><strong>Purchase Date</strong> :&nbsp;&nbsp;&nbsp; {{deviceDetails.purchaseDate | date:'medium'}}</label>
            </div>
            <div class="col-md-4">
                <label><strong>Assign Station Code</strong> :&nbsp;&nbsp;&nbsp; {{deviceDetails.stationCode}}</label>
            </div>
            <div class="col-md-4">
                <label><strong>Manufacturer Name</strong> :&nbsp;&nbsp;&nbsp; {{deviceDetails.manufactureName}}</label>
            </div>
            <div class="col-md-4">
                <label><strong>Equipment Code</strong> :&nbsp;&nbsp;&nbsp; {{deviceDetails.equipmentCode}}</label>
            </div>
            <div class="col-md-4">
                <label><strong>Equipment Model</strong> :&nbsp;&nbsp;&nbsp; {{deviceDetails.equipmentModelName}}</label>
            </div>
            <div class="col-md-4">
                <label><strong>MFG Date</strong> :&nbsp;&nbsp;&nbsp; {{deviceDetails.mfgDate | date:'medium'}}</label>
            </div>
            <div class="col-md-4">
                <label><strong>Version</strong> :&nbsp;&nbsp;&nbsp; {{deviceDetails.version}}</label>
            </div>
            <div class="col-md-4">
                <label><strong>Warranty (in year)</strong> :&nbsp;&nbsp;&nbsp; {{deviceDetails.warranty}}</label>
            </div>
        </div>

    </section>

    



</div>

