<ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="ball-fussion"
    [fullScreen]="true"
    ><p style="color: white">Loading...</p></ngx-spinner
>

<nav aria-label="breadcrumb" class="bdcrm">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/equipment/equipmentdash']">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
    </ol>
</nav>

<div class="card card-outline-secondary my-2">

    
    <!-- <div class="card-header">
        <h3 class="mb-0 d-flex justify-content-center">Change Password</h3>
    </div> -->
    <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
        <div class="card-body">
            <div class="row mt-4">
                <div class="col-sm-4 pb-3">
                    <label>Old Password</label><span id="mandatory">*</span>
                    <input
                        type="password"
                        class="form-control"
                        formControlName="oldPassword"
                        placeholder="Enter Old Password"
                        [ngClass]="{
                            'is-invalid': submitted && fval.oldPassword.errors
                        }"
                    />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div
                            *ngIf="
                                changePassword.controls.oldPassword.errors &&
                                changePassword.controls.oldPassword.errors
                                    .required
                            "
                        >
                            {{
                                changePassword.controls.oldPassword.errors
                                    .required.message
                            }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 pb-3">
                    <label for="productName">New Password</label><span id="mandatory">*</span>
                    <input
                        type="password"
                        class="form-control txt-cap"
                        formControlName="newPassword"
                        placeholder="Enter New Password"
                        [ngClass]="{
                            'is-invalid': submitted && fval.newPassword.errors
                        }"
                    />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div
                            *ngIf="
                                changePassword.controls.newPassword.errors &&
                                changePassword.controls.newPassword.errors
                                    .required
                            "
                        >
                            {{
                                changePassword.controls.newPassword.errors
                                    .required.message
                            }}
                        </div>
                        <div
                            *ngIf="
                                changePassword.controls.newPassword.errors &&
                                changePassword.controls.newPassword.errors
                                    .pass
                            "
                        >
                            {{
                                changePassword.controls.newPassword.errors
                                    .pass.message
                            }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 pb-3">
                    <label>Confirm Password</label><span id="mandatory">*</span>
                    <input
                        type="password"
                        class="form-control"
                        formControlName="confirmPassword"
                        placeholder="Enter Confirm Password"
                        [ngClass]="{
                            'is-invalid':
                                submitted && fval.confirmPassword.errors
                        }"
                    />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div
                            *ngIf="
                                changePassword.controls.confirmPassword
                                    .errors &&
                                changePassword.controls.confirmPassword.errors
                                    .required
                            "
                        >
                            {{
                                changePassword.controls.confirmPassword.errors
                                    .required.message
                            }}
                        </div>
                        <div
                            *ngIf="
                                changePassword.controls.confirmPassword
                                    .errors &&
                                changePassword.controls.confirmPassword.errors
                                    .compare
                            "
                        >
                            {{
                                changePassword.controls.confirmPassword.errors
                                    .compare.message
                            }}
                        </div>
                    </div>
                </div>

                <div class="submitButton mt-4 form-group col-sm-3">
                    <button class="btn btn-primary mt-2 btncss">
                        Change Password
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
