<!-- <div class="heading text-center">
  <h3>Raise Complaint Form </h3>
</div> -->
<div class="container">
  <nav aria-label="breadcrumb" class="bdcrm">
      <ol class="breadcrumb ">
          <li class="breadcrumb-item active" aria-current="page">Raise Complaint Form </li>
      </ol>
  </nav>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="complaintForm" (ngSubmit)="onFormSubmit()" class="form-wrap">
        <div class="raisecomplaintform "><!--shadow -->
  
          <div class="form-row">
  
            <div class="form-group col-md-12">
              <label for="deviceId">Device ID</label>
              <input type="text" class="form-control" formControlName="deviceId"
                [ngClass]="{'is-invalid': submitted && fval.deviceId.errors}" readonly/>
                <div *ngIf="submitted && fval.deviceId.errors" class="invalid-feedback">
                  <div *ngIf="fval.deviceId.errors.required">
                    This is required !
                  </div>
                </div>
            </div>
  
            <div class="form-group col-md-12">
              <label for="problemDescription">Problem Description</label>
              <textarea rows="3" class="form-control" formControlName="problemDescription" placeholder="Type..."
                [ngClass]="{'is-invalid': submitted && fval.problemDescription.errors}">
                </textarea>
              <div *ngIf="submitted && fval.problemDescription.errors" class="invalid-feedback">
                <div *ngIf="fval.problemDescription.errors.required">
                  This is required !
                </div>
              </div>
            </div>
  
          </div>
  
          <div class="form-group w-100">
            <button type="submit" class="btn btn-set w-50">Submit <span class="fa fa-send"></span></button>
          </div>
  
        </div>
      </form>
    </div>
  </div>
</div>
