.formBg{
    padding: 40px;
    // height: 600px;
    box-shadow: 0px 0px 15px 0px;
    margin-bottom: 100px;
}

.fltLeft{
    float: left;
}

.fltRight{
    float: right;
}
.required{
    color: red;
}