<!-- <div class="heading">
        <h2>Pending Complaint List</h2>
    </div>
    <hr> -->

    <nav aria-label="breadcrumb" class="bdcrm ml-3 mr-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/maindash']">Dashboard</a></li>
            <li class="breadcrumb-item" aria-current="page">Pending Complaint List</li>
        </ol>
    </nav>
    
    <div class="table-responsive table-set">
        <div class="table-responsive">
            <table class="table-res row-border hover table-head" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th style="width:100px">Station Code</th>
                        <th style="width:100px">Device ID</th>
                        <th style="width:100px">Token</th>
                        <th style="width:180px">Problem Description</th>
                        <th style="width:200px">Complaint Status</th>
                        <th style="width:200px">Created By</th>
                        <th style="width:200px">Created Date & Time</th>
                        <th style="width:200px">View Details</th>
                        <th style="width:200px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of complains">
                        <td>{{ item.stationCode }}</td>
                        <td>
                            <a
                                href="javascript:;"
                                [routerLink]="['/equip/device-details/', item.deviceId]"
                                >{{ item.deviceId }}
                            </a>
                        </td>
                        <td>{{ item.token }}</td>
                        <td>{{ item.problemDescription }}</td>
                        <td><b>{{ item.complaintStatus }}</b></td>
                        <td>{{ item.createBy }}</td>
                        <td>{{ item.createdDate | date:'medium'}}</td>
                        <td>
                            <a
                            href="javascript:;"
                            [routerLink]="['/complaint-details/', item.token]"
                            >
                                <i
                                    class="fa fa-eye"
                                    style="font-size: 34px; color: #2806a5"
                                ></i>
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-warning" (click)="openAssignModel(assignTemplate, item.deviceId)">
                                <i class="fa fa-paper-plane"
                                    style="font-size: 18px"></i>
                            </button>

                            <ng-template #assignTemplate>
                                <div class="model-dialog model-lg">
                                    <div class="modal-header">
                                        <h4 class="modal-title pull-left">
                                            Resolve Complaint
                                        </h4>
                                        <button type="button" class="close pull-right" aria-label="Close"
                                            (click)="modalRef.hide()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="assignForm" (ngSubmit)="onSubmit()">
                                            <div class="row">
                                               
                                                <div class="col-md-12">
                                                    <label for="token">
                                                        <b>Token</b> -
                                                    </label>
                                                   
                                                    <input type="text"  [ngModel]="item.token" class="form-control" formControlName="token"
                                                            [ngClass]="{
                                                                      'is-invalid': submitted && fval.token.errors
                                                                  }" readonly />
                                                    <div *ngIf="submitted && fval.token.errors" class="invalid-feedback">
                                                        <div *ngIf="fval.token.errors.required">
                                                            This is required !
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="statusCode">
                                                        <b>Status</b> -
                                                    </label>
                                                    <select
                                                        class="form-control"
                                                        formControlName="statusCode"
                                                        [ngClass]="{
                                                            'is-invalid': submitted && fval.statusCode.errors
                                                        }"
                                                    >
                                                        <option value="">Select Complaint Status</option>
                                                        <ng-container *ngFor="let list of complaintStatusList">
                                                            <option
                                                                [ngValue]="list.complaintStatusCode"
                                                                *ngIf="list.complaintStatusCode==='03' || list.complaintStatusCode==='05' "
                                                            >
                                                                {{ list.complaintStatusResponse }}
                                                            </option>
                                                        </ng-container>
                                                    </select>
                                                    <div *ngIf="submitted && fval.statusCode.errors" class="invalid-feedback">
                                                        <div *ngIf="fval.statusCode.errors.required">
                                                            This field is required !
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="description">
                                                        <b>Comments</b> -
                                                    </label>
                                                    <textarea rows="3" class="form-control" formControlName="description"
                                                        placeholder="Type..."
                                                        [ngClass]="{'is-invalid': submitted && fval.description.errors}">
                                                            </textarea>
                                                    <div *ngIf="submitted && fval.description.errors" class="invalid-feedback">
                                                        <div *ngIf="fval.description.errors.required">
                                                            This is required !
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary btn-set">
                                                    Submit
                                                </button>
                                               
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>