<div class="container mt-5 mb-5 formBg">
    <!-- <h2>Update Line/Corridor</h2>
    <hr /> -->
    <div class="card">
        <div class="card-header col-md-12">
            <div class="col-md-8 fltLeft">
                <h4 class="pt-2 text-primary headingTextLabel">
                    <i class="fa fa-gear" aria-hidden="true"></i>
                    Update Line
                </h4>
            </div>
            <div class="col-md-4 fltLeft">
                <span class="fltRight backBtn">
                    <a [routerLink]="['/admin/linelist']"> <i class="fa fa-arrow-circle-left"></i> Back</a>
                </span>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <form [formGroup]="lineForm" (ngSubmit)="onFormSubmit()">
            <div class="row row-p10">

                 <!-- Line Name -->
                 <div class="col-md-4 ">
                    <label for="lineName" class="required">Line Name</label>
                    <input type="text" class="form-control txt-cap" name="lineName" id="lineName" formControlName="lineName"
                        [ngClass]="{'is-invalid': submitted && fval.lineName.errors}" maxlength="255" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="fval.lineName.errors && fval.lineName.errors.required">
                            {{ fval.lineName.errors.required.message }}
                        </div>
                        <div *ngIf="fval.lineName.errors && fval.lineName.errors.alpha">
                            {{ fval.lineName.errors.alpha.message }}
                        </div>
                        <div *ngIf="fval.lineName.errors && fval.lineName.errors.minLength">
                            {{ fval.lineName.errors.minLength.message }}
                        </div>
                    </div>
                </div>

                <!-- Line code -->
                <div class="col-md-4 ">
                    <label for="lineCode" class="required">Line Code</label>
                    <input type="text" class="form-control txt-uppr" formControlName="lineCode"
                        [ngClass]="{'is-invalid': submitted && fval.lineCode.errors }" maxlength="30" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="fval.lineCode.errors && fval.lineCode.errors.required">
                            {{ fval.lineCode.errors.required.message }}
                        </div>
                        <div *ngIf="fval.lineCode.errors && fval.lineCode.errors.alpha">
                            {{ fval.lineCode.errors.alpha.message }}
                        </div>
                        <div *ngIf="fval.lineCode.errors && fval.lineCode.errors.minLength">
                            {{ fval.lineCode.errors.minLength.message }}
                        </div>
                    </div>
                </div>

                
                <!-- Line colour -->
                <div class="col-md-4 ">
                    <label for="lineColour" class="required">Line Colour</label>
                    <input type="text" class="form-control txt-uppr" formControlName="lineColour"
                        [ngClass]="{'is-invalid': submitted && fval.lineColour.errors }" maxlength="30" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="fval.lineColour.errors && fval.lineColour.errors.required">
                            {{ fval.lineColour.errors.required.message }}
                        </div>
                         <!-- <div *ngIf="fval.lineColour.errors && fval.lineColour.errors.alpha">
                            {{ fval.lineColour.errors.alpha.message }}
                        </div> -->
                    </div>
                </div>

                <!-- Activation Status -->
                <div class="col-md-4 ">
                    <label for="activationStatus" class="required">Activation Status</label>

                    <select class="form-control" formControlName="activationStatus" [ngClass]="{'is-invalid': submitted && fval.activationStatus.errors }">
                        <option value="" selected>--Select Status--</option>
                        <option *ngFor="let status of activationStatusList" [value]="status.key">{{ status.value }}</option>
                    </select>

                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="fval.activationStatus.errors && fval.activationStatus.errors.required">
                            {{ fval.activationStatus.errors.required.message }}
                        </div>
                    </div>
                </div>

                

                <!-- Terminus A -->
                <div class="col-md-4 ">
                    <label class="required">Terminus A</label>
                    <input type="text" class="form-control" formControlName="terminusA"
                        [ngClass]="{'is-invalid': submitted && fval.terminusA.errors }" maxlength="255" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="fval.terminusA.errors && fval.terminusA.errors.required" >
                            {{ fval.terminusA.errors.required.message }}
                        </div>
                        <div *ngIf="fval.terminusA.errors && fval.terminusA.errors.alpha">
                            {{ fval.terminusA.errors.alpha.message }}
                        </div>
                    </div>
                </div>

                <!-- Terminus B -->
                <div class="col-md-4 ">
                    <label class="required">Terminus B</label>
                    <input type="text" class="form-control" formControlName="terminusB"
                        [ngClass]="{ 'is-invalid': submitted && fval.terminusB.errors }" maxlength="255" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf=" fval.terminusB.errors && fval.terminusB.errors.required ">
                            {{ fval.terminusB.errors.required.message }}
                        </div>
                        <div *ngIf="fval.terminusB.errors && fval.terminusB.errors.alpha">
                            {{ fval.terminusB.errors.alpha.message }}
                        </div>
                    </div>
                </div>

                <!-- Length -->
                <div class="col-md-4 ">
                    <label for="length" class="required">Length (Distance in KMs)</label>
                    <input type="text" class="form-control txt-uppr" formControlName="length"
                        [ngClass]="{'is-invalid': submitted && fval.length.errors }" maxlength="30" />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="fval.length.errors && fval.length.errors.required">
                            {{ fval.length.errors.required.message }}
                        </div>
                        <div *ngIf="fval.length.errors && fval.length.errors.numeric">
                            {{ fval.length.errors.numeric.message }}
                        </div> 
                    </div>
                </div>

                <!-- Operation From -->
                <div class="col-md-4">
                <label for="operationFrom" class="required">Operational From</label>
                    <input readonly type="text" class="form-control form-vehicle date" 
                    formControlName="operationFrom"
                    [ngClass]="{ 'is-invalid': submitted && fval.operationFrom.errors }"
                    id="operationFrom"
                    placeholder="DD-MM-YYYY"
                    bsDatepicker
                    [outsideClick]="true"
                    [bsConfig]="datePickerConfigOperationFrom"
                    (bsValueChange)="onValueOperationalDateChange($event)" >
                    <div *ngIf="submitted && fval.operationFrom.errors" class="invalid-feedback">
                        <div *ngIf="fval.operationFrom.errors && fval.operationFrom.errors.required">
                            {{ fval.operationFrom.errors.required.message }}
                        </div>
                    </div>
                </div>

            </div>

            <div class="row row-p10 mt-5">
                <div class="clearfix col-md-12 btn-set">
                    <button type="submit">
                        Update
                        <span class="fa-class fa fa-refresh"></span>
                    </button>
                    <button type="button" id="cancelbtn" [routerLink]="['/admin/linelist']">
                        Cancel
                        <span class="fa-class fa fa-close"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
