.services {
    margin: 0 40px;
}
.services .srvc {
    padding: 0 5px;
    font-size: 14px;
    transition: 0.5s ease-in-out;
    color: #fff;
}
.services .red {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 50px rgb(225, 2, 2);
}
.services .green {
    height: 10px;
    width: 10px;
    background-color: rgb(3, 123, 3);
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 5px rgba(3, 123, 3, 0.6);
}



@media (max-width: 1260px){
    .services {
        visibility: hidden;
    }
}
