

<div class="container-fluid wrapper">
  <!-- <h2><i class="fa fa-user" aria-hidden="true"></i>Station User Details</h2> -->
  <nav aria-label="breadcrumb" class="bdcrm">
    <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a [routerLink]="['/stationdashboard']" >Dashboard</a> </li>
        <li class="breadcrumb-item active" aria-current="page">View Profile</li>
    </ol>
</nav>
<hr />
  <div class=" form-border">
      <form [formGroup]="editProfileForm" (ngSubmit)="onFormSubmit()">
        <div class="row ">
            <div class="col-md-6 form-group">
                <label for="">EmpId</label>
                <input type="text" class="form-control" value={{empId}} readonly />
            </div>
            <div class="col-md-6 form-group">
                <label for="">Role:</label><br>
                <span *ngFor="let role of userRoles; let last=last">&nbsp;&nbsp;&nbsp;{{role.roleName}} <span *ngIf="!last">,</span> </span>
            </div>
        </div>  

        <div class="row row-p10">
            <div class="col-md-6 form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" value="{{username}}" placeholder="Enter Username"
                    readonly />
            </div>
            <div class="col-md-6 form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Enter Name" [ngClass]="{
                                    'is-invalid': submitted && fval.name.errors
                                }"  />
                <div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
                    <div *ngIf="
                        editProfileForm.controls.name.errors &&
                            editProfileForm.controls.name.errors.required
                            ">
                        {{
                            editProfileForm.controls.name.errors.required
                            .message
                        }}
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row row-p10">
            <div class="col-md-6 form-group">
                <label for="">Mobile Number</label>
                <input type="text" class="form-control" formControlName="mobileNumber" placeholder="Enter Contact no"
                    [ngClass]="{
                        'is-invalid': submitted && fval.mobileNumber.errors
                }" maxlength="10" />
                <div *ngIf="submitted && fval.mobileNumber.errors" class="invalid-feedback">
                    <div *ngIf="editProfileForm.controls.mobileNumber.errors && editProfileForm.controls.mobileNumber.errors.required ">
                        {{ editProfileForm.controls.mobileNumber.errors.required.message }}
                    </div>
                    <div *ngIf="editProfileForm.controls.mobileNumber.errors && editProfileForm.controls.mobileNumber.errors.onlyDigit ">
                        {{ editProfileForm.controls.mobileNumber.errors.onlyDigit.message }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Enter Email"
                    [ngClass]="{
                        'is-invalid': submitted && fval.email.errors
                }"  />
                <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                  <div *ngIf="editProfileForm.controls.email.errors && editProfileForm.controls.email.errors.required ">
                      {{ editProfileForm.controls.email.errors.required.message }}
                  </div>
                  <div *ngIf="editProfileForm.controls.email.errors && editProfileForm.controls.email.errors.email ">
                      {{ editProfileForm.controls.email.errors.email.message }}
                  </div>
              </div>
            </div>
        </div>

          

          <!-- <div class="row row-p10">
              <div class="col-md-12 form-group">
                  <label for="">Address</label>
                  <textarea rows="2" class="form-control" formControlName="address" placeholder="Enter address"
                      [ngClass]="{
                          'is-invalid': submitted && fval.address.errors
                      }">
                  </textarea>
              </div>
          </div> -->

          <!-- <div class="clearfix col-md-12 btn-set">
              <div class="form-group text-center">
                  <button type="submit" class="btn btn-warning">Save&nbsp;<span class="fa fa-send"></span></button>
              </div>
          </div> -->

          <div *ngIf="showEditBtn">
            <div class="row justify-content-center">
                <div class="col-0 pb-3">
                    <button type="submit" (click)="showEditForm()" >
                        <i class="fa fa-paper-plane"></i>
                        Edit Profile
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="showUpdateBtn">
            <div class="row justify-content-center">
                <div >
                    <!-- class="btn btn-outline-primary mt-1 pull-left" -->
                    <button type="submit">
                        <i class="fa fa-paper-plane"></i>
                        Update
                    </button>
                </div>
                <!-- class="col-1 pb-3 mr-4" -->
                <div >
                    <!-- class="btn btn-outline-danger mt-1 pull-left" -->
                    <button type="submit" (click)="cancel()">
                        <i class="fas fa-close"></i>
                        Cancel
                    </button>
                </div>

                <div >
                    <!-- class="btn btn-outline-info mt-1 pull-left" -->
                    <!-- <button type="reset" >
                        <i class="fas fa-redo"></i>
                        Reset
                    </button> -->
                </div>
            </div>
    </div>



      </form>
  </div>
</div>
<app-header></app-header>