h2 {
  text-align: center;
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: 20px;
}


hr {
  border: 0;
  height: 5px;
  //background: linear-gradient(to right, #00004d, #605cbdd6, rgb(185 171 171 / 0%));
  background: #00004d;
}

.wrapper {
  //width: 100%;
  //max-width: 668px;
  //max-width: 560px;
  margin: 0 auto;
  padding: 30px 0;
  // margin-top: 30px;
  
}

.row-p10 {
  padding: 2px 0;
}

.form-border {
  margin: 10px;
  //border: 1px solid #dddddd94;
  // padding: 10px 58px;
  padding: 10px 58px 0px;
  padding-bottom: 26px;
  box-shadow: 0px 1px 1px 1px #003cff40;
  //margin-left: 25%;
  width: 100%;
}

label {
  font-weight: normal;
  margin-top: 15px;
  color: #000;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}

input {
  border: 1px solid #d8d5d5ed;
  height: 35px;
  border-radius: 4px;
  max-width: 100%;
}

// input[type=text] {
//   text-transform: capitalize;
// }

.form-group {
  margin-bottom: 0;
  text-align: left;
}

.btn-sub {
  background-color: #00004d;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto;
  color: #fff;
  padding: 8px 30px;
  margin: 20px;
}

.btn-set {
  padding: 0 18px;
  margin: 0 auto;
  text-align: center;
}



button[type="submit"] {
      padding: 8px 22px;
    color: #fff;
    border: 0;
    background: #00004d;
    border: 2px solid #00004d;
    font-size: 16px;
    text-transform: uppercase;
    // margin: 30px 7px 28px 0px;
    margin: 20px 7px 16px 0px;
    letter-spacing: 2px;
    cursor: pointer;
}

button[type="submit"]:hover {
  color: #00004d;
  background: #fff;
  border: 2px solid #00004d;
  font-weight: bold;
}

button[type="reset"] {
    padding: 8px 22px;
    color: #fff;
    border: 0;
    background: #00004d;
    border: 2px solid #fff;
    font-size: 16px;
    text-transform: uppercase;
    //margin: 30px 0;
    margin: 20px 7px 16px 0px;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bold;
}

 button[type="reset"]:hover {
  color: #00004d;
  background: #fff;
  border: 2px solid #00004d;
  font-weight: bold;
}

span .fa-class {
  font-size: 18px;
}


.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
     width: 100%;
}
.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}