.hdr-set {
    margin-top: 4px;
}
.form-set {
    padding: 10px;
    margin: 10px;
}
h4 {
    margin-left: 20px;
    border: 1px solid #ddd;
    padding: 5px;
}
button {
    width: 120px;
    font-size: 18px;
    font-weight: bold;
}
