.contnr {
    width: 95%;
    margin-left: 30px;
    margin-right: 20px;
}

.heading {
    text-align: center;
    margin: 50px 0 20px;
}

h2 {
    text-align: center;
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 20px;
}

hr {
    border: 0;
    height: 5px;
    background: linear-gradient(to right,
            #00004d,
            #605cbdd6,
            rgb(185 171 171 / 0%));
}

.table-set {
    overflow-x: auto;
    padding: 10px 20px;
    font-size: 14px;
    background: #d7d7ff;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    background: #00006d !important;
    color: #fff;
    vertical-align: top !important
}


tr:nth-child(even) {
    background-color: #ffffff;
}

td {
    // padding-left: 20px !important;
}

#hide-id {
    display: none;
}

.mgrn {
    padding: 10px;
}

.headingTextLabel {
    color: #00004d !important;
    ;
}

.fltLeft {
    float: left !important;
}

.fltRight {
    float: right !important;
}

.marginBottom {
    margin-bottom: 150px;
}

.searchBtn {
    padding: 7px 14px;
    color: #fff;
    background: #00004d;
    border: 2px solid #00004d;
    font-size: 12px;
    text-transform: uppercase;
    margin: 30px 7px 28px 0px;
    letter-spacing: 2px;
    cursor: pointer;
}

.viewBtn {
    padding: 2px 8px;
    color: #fff;
    background: #00004d;
    border: 2px solid #00004d;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
}

.download {
    padding: 8px 22px;
    color: #fff !important;
    border: 0;
    background: #00004d;
    border: 2px solid #00004d;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
}

// .download:hover {
//     color: #00004d!important;
//     background: #fff!important;
//     border: 1px solid #00004d;
// }