<div class="container-fluid wrapper">
        <h2>Assign Line To Station</h2>
        <hr>
        <div class="row form-border">
            <form [formGroup]="editlinetostationForm" (ngSubmit)="onFormSubmit()">
                <div class="row row-p10">
                    <div class="col-md-6 form-group">
                        <label for="lineName">
                            <i class="fa fa-random"></i>&nbsp;
                            <b>Line Name</b>
                        </label>
                        <select class="form-control" formControlName="line" [ngClass]="{
                                        'is-invalid': submitted && fval.line.errors
                                    }">
                            <!-- <option value="">Select Line</option> -->
                            <option *ngFor="let item of line" [ngValue]="item">
                                {{ item.lineName }}
                            </option>
                        </select>
                        <div *ngIf="submitted && fval.line?.errors" class="invalid-feedback">
                            <div *ngIf="fval.line?.errors.required">
                                Required !
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6 form-group">
                        <label for="stationName">
                            <i class="fa fa-train"></i>&nbsp;
                            <b>Station Name</b>
                        </label>
                        <select class="form-control" formControlName="station" [ngClass]="{
                                            'is-invalid': submitted && fval.station.errors
                                        }">
                            <option *ngFor="let item of station" [ngValue]="item">
                                {{ item.stationName }}
                            </option>
                        </select>
                        <div *ngIf="submitted && fval.station?.errors" class="invalid-feedback">
                            <div *ngIf="fval.station?.errors.required">
                                Required !
                            </div>
                        </div>
                    </div>   
                    
                    <div class="clearfix col-md-12 btn-set">
                        <button type="submit">Assign
                            <span class="fa-class fa fa-paper-plane"></span>
                        </button>
                        <button type="reset">Reset
                            <span class="fa-class fa fa-undo"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>