<div class="container-fluid wrapper">
        <!-- <h2>View Profile</h2> -->
        <nav aria-label="breadcrumb" class="bdcrm">
            <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a [routerLink]="['/complaint/complaintdash']" >Dashboard</a> </li>
                <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
            </ol>
        </nav>
        <hr>
        <div class=" form-border">
            <form [formGroup]="editProfileForm" (ngSubmit)="onFormSubmit()">
               
                <div class="row row-p10">

                    <div class="col-md-4 form-group">
                        <label for="">Employee ID:</label>
                        <input type="text" class="form-control" formControlName="empId" readonly />
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="">Username:</label>
                        <input type="text" class="form-control" formControlName="username" readonly />
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="">Role:</label><br/>
                        {{ showRole }}
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="">Name:</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Enter Name" [ngClass]="{
                                'is-invalid': submitted  && fval.name.errors
                            }"  />
                        <div *ngIf="submitted  && fval.name.errors" class="invalid-feedback">
                            <div *ngIf="
                                    editProfileForm.controls.name.errors &&
                                    editProfileForm.controls.name.errors.required
                                ">
                                {{
                                    editProfileForm.controls.name.errors.required
                                        .message
                                }}
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-4 form-group">
                        <label for="">Mobile Number:</label>
                        <input type="text" class="form-control" formControlName="mobileNumber"
                            placeholder="Enter Mobile Number" [ngClass]="{
                                'is-invalid': submitted && fval.mobileNumber.errors
                            }" maxlength="10" />
                            <div *ngIf="submitted && fval.mobileNumber.errors" class="invalid-feedback">
                                <div *ngIf="editProfileForm.controls.mobileNumber.errors && editProfileForm.controls.mobileNumber.errors.required ">
                                    {{ editProfileForm.controls.mobileNumber.errors.required.message }}
                                </div>
                                <div *ngIf="editProfileForm.controls.mobileNumber.errors && editProfileForm.controls.mobileNumber.errors.onlyDigit ">
                                    {{ editProfileForm.controls.mobileNumber.errors.onlyDigit.message }}
                                </div>
                            </div>
                    </div>
               
                    <div class="col-md-4 form-group">
    
                        <label for="">Email:</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="Enter Email"
                            [ngClass]="{
                                'is-invalid': submitted  && fval.email.errors
                            }"  />
                            <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                                <div *ngIf="editProfileForm.controls.email.errors && editProfileForm.controls.email.errors.required ">
                                    {{ editProfileForm.controls.email.errors.required.message }}
                                </div>
                                <div *ngIf="editProfileForm.controls.email.errors && editProfileForm.controls.email.errors.email ">
                                    {{ editProfileForm.controls.email.errors.email.message }}
                                </div>
                            </div>
                    </div>
    
                </div>

                <div *ngIf="showEditBtn">
                    <div class="row justify-content-center mt-2">
                        <div class="col-0 pb-3">
                            <button type="submit" (click)="showEditForm()" >
                                <i class="fa fa-paper-plane"></i>
                                Edit Profile
                            </button>
                        </div>
                    </div>
                </div>

                <div *ngIf="showUpdateBtn">
                    <div class="row col-0 mt-1">
                        <div class="fltLeft col-md-12">
                            <button type="submit" (click)="cancel()">
                                <i class="fas fa-close"></i>
                                Cancel
                            </button>
                            <button type="submit">
                                <i class="fa fa-refresh"></i>
                                Update
                            </button>
                        </div> 
                       
                    </div>
            </div>
    
            </form>
        </div>
    </div>