$topnav-background-color: #00004d;
:host {
    .navbar {
        background-color: $topnav-background-color;
        box-shadow: inset 0 0 40px #000000;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
        .left-bar {
            width: 20px;
            color: #fff;
            padding: 8px 10px 0px 0px;
        }
    }
    h2 {
        text-align: center;
        color: #ece9e9;
        letter-spacing: 2px;
        margin: 0 auto;
        text-transform: uppercase;
        font-family: none;
        position: fixed;
        left: 50%;
        top: 2%;
      }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
    .mr-10 {
        margin-right: 10px;
    }
    .ml-10 {
        margin-left: 10px;
    }
    .mr-14 {
        margin-right: 14px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
        top: 52px;
        border: 0px;
        border-radius: 2px;
        box-shadow: -1px 3px 10px 2px #888888;
    }
    .dropdown-menu-right a:hover {
        background: #00004d;
        color: #fff;
    }
    .hdr-logo-txt {
        letter-spacing: 2px;        
    }
    .img-st {
        width: 98px;
    }
    a li:hover {
        text-decoration: none !important;
    }
    a li:focus {
        text-decoration: none !important;
    }

    .p-20 {
        padding-left: 20px;
    }

    .p-24 {
        padding-left: 24px;
    }

    .p-19 {
        padding-left: 19px;
    }

    
    @media only screen and (max-width: 993px) {
        // h2 {width: 8.33%; color: #ff0000;}
        // h2 {width: 16.66%; color: #ff0000;}
        h2 {width: 25%; 
            color: #ff0000;
            font-size: 14px;
            text-align: center;
        }
        
      }
   
}
